/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
  display: block;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "PT Root UI";
  src: url(font/PT-Root-UI_Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "PT Root UI";
  src: url(font/PT-Root-UI_Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "PT Root UI";
  src: url(font/PT-Root-UI_Bold.ttf);
  font-weight: 700;
}
.container {
  width: 1296px;
  margin: 0 auto;
}

body {
  font-family: "PT Root UI";
  font-weight: 400;
  color: #1C1C1D;
}

.main-btn {
  padding: 14.5px 35px;
  border-radius: 12px;
  background-color: #AD2950;
  color: #fff;
  font-size: 16px;
  line-height: 20.8px;
  font-weight: 700;
}

.btn-pink {
  padding: 14.5px 24px;
  border: 1px solid #FCE7F3;
  border-radius: 12px;
  font-size: 16px;
  line-height: 20.8px;
  font-weight: 700;
  color: #AD2950;
}

.btn-gray {
  padding: 14.5px 32px;
  border: 1px solid #E5E7EB;
  border-radius: 12px;
  font-size: 16px;
  line-height: 20.8px;
}

.main-title {
  font-size: 42px;
  line-height: 54.6px;
  font-weight: 500;
}

.connect-info {
  margin-left: 10px;
}
.connect-title {
  font-size: 16px;
  line-height: 20.8px;
  font-weight: 500;
  color: #1C1C1D;
}
.connect-descrip {
  font-size: 12px;
  line-height: 15.6px;
  color: #93949B;
}

.arrow {
  padding: 13px;
  border: 1px solid #E5E7EB;
  border-radius: 12px;
  background-color: #fff;
  border: 1px solid #E5E7EB;
  width: 50px;
  height: 50px;
}

.title-scroll {
  display: flex;
  justify-content: space-between;
}
.title-scroll__btns {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
}

.close {
  padding: 10px;
  border-radius: 50%;
  background-color: #F5F5F5;
}

/* MY-DATA */
.my-data__inner {
  display: flex;
  -moz-column-gap: 134px;
       column-gap: 134px;
}
.my-data__person {
  padding: 32px 24px 40px 24px;
  border: 1px solid #E5E7EB;
  border-radius: 24px;
  height: 455px;
}
.my-data__person-name {
  font-size: 22px;
  line-height: 28.6px;
  font-weight: 500;
  padding-bottom: 5px;
}
.my-data__person-tel {
  font-size: 14px;
  line-height: 18.2px;
  padding-bottom: 16px;
}
.my-data__person-points {
  padding: 20px 147px 20px 20px;
  background-color: #AD2950;
  border-radius: 16px;
  color: #fff;
  position: relative;
  width: 258px;
  height: 90px;
  margin-bottom: 40px;
}
.my-data__person-points div {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
  padding-bottom: 1px;
}
.my-data__person-points img {
  position: absolute;
  bottom: 0;
  left: 0;
  mix-blend-mode: multiply;
}
.my-data__person-points svg {
  position: relative;
  z-index: 1;
}
.my-data__person-number {
  font-size: 32px;
  line-height: 32px;
  font-weight: 500;
}
.my-data__person-account {
  font-size: 14px;
  line-height: 18.2px;
  text-decoration: underline;
  white-space: nowrap;
  position: relative;
  z-index: 1;
}
.my-data__person-item {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  font-size: 16px;
  line-height: 20.8px;
  padding-bottom: 16px;
  cursor: pointer;
}
.my-data__person-item p {
  color: #1C1C1D;
}
.my-data__person-item:hover p {
  color: #AD2950;
}
.my-data__person-item:hover svg {
  fill: #AD2950;
  stroke: #AD2950;
}
.my-data__info {
  width: 416px;
}
.my-data__info .btn-gray {
  width: 416px;
  height: 50px;
  margin-top: 24px;
}
.my-data__info .main-title {
  padding-bottom: 32px;
}
.my-data__info-tel {
  padding: 16px 24px;
  background-color: #F5F5F5;
  border-radius: 16px;
  width: 416px;
  height: 87px;
  margin-bottom: 24px;
}
.my-data__info-tel div {
  display: flex;
  justify-content: space-between;
}
.my-data__info-tel p {
  font-size: 22px;
  line-height: 28.6px;
  font-weight: 500;
}
.my-data__info-tel h6 {
  font-size: 14px;
  line-height: 18.2px;
  padding-bottom: 8px;
  color: #93949B;
}
.my-data__info-notnecessarily {
  font-size: 14px;
  line-height: 18.2px;
  color: #93949B;
  padding-bottom: 48px;
}
.my-data__field {
  padding-bottom: 24px;
}
.my-data__field-div {
  position: relative;
}
.my-data__field-input {
  padding: 10px;
  padding-left: 24px;
  width: 416px;
  height: 50px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #93949B;
  border-radius: 12px;
}
.my-data__field-label {
  position: absolute;
  top: 14px;
  left: 24px;
  font-size: 16px;
  line-height: 20.8px;
  color: #93949B;
  transition: 0.3s;
  pointer-events: none;
}
.my-data__field-input:focus + .my-data__field-label {
  top: 5px;
  font-size: 12px;
  line-height: 15.6px;
}
.my-data__field:last-child {
  padding-bottom: 8px;
}
.my-data__password-title {
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 700;
  padding-bottom: 18px;
}
.my-data__password-input {
  width: 416px;
  height: 50px;
  padding-left: 24px;
  border: 1px solid #93949B;
  border-radius: 12px;
  font-size: 16px;
  line-height: 20.8px;
  margin-bottom: 24px;
}
.my-data__password-input::-moz-placeholder {
  color: #93949B;
}
.my-data__password-input::placeholder {
  color: #93949B;
}

/* EDITITNG */
.editing {
  width: 636px;
  height: 663px;
}
.editing .close {
  position: absolute;
  top: 20px;
  right: 20px;
}
.editing__inner {
  padding: 48px;
  background-color: #fff;
  border-radius: 24px;
  position: relative;
}
.editing__title {
  font-size: 32px;
  line-height: 41.6px;
  font-weight: 500;
  padding-bottom: 24px;
}
.editing__descrip {
  font-size: 16px;
  line-height: 20.8px;
  padding-bottom: 24px;
}
.editing__field {
  padding-bottom: 24px;
}
.editing__field-div {
  position: relative;
}
.editing__field-input {
  padding: 10px;
  padding-left: 24px;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #93949B;
  border-radius: 12px;
}
.editing__field-input-personal {
  width: 306px;
}
.editing__field-input-comment {
  height: 94px;
}
.editing__field-label {
  position: absolute;
  top: 14px;
  left: 24px;
  font-size: 16px;
  line-height: 20.8px;
  color: #93949B;
  transition: 0.3s;
  pointer-events: none;
}
.editing__field-input:focus + .editing__field-label {
  top: 5px;
  font-size: 12px;
  line-height: 15.6px;
}
.editing__btns {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
}
.editing__save {
  padding: 14.5px 32px;
  font-size: 16px;
  line-height: 20.8px;
  font-weight: 700;
  color: #fff;
  background-color: #03A050;
  border-radius: 12px;
  height: 50px;
}

/* DELIVERY-CITY */
.delivery-city .main-title {
  padding-bottom: 32px;
}
.delivery-city__flex {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.delivery-city__left {
  padding: 135px 184px 32px 32px;
  background-color: #F5F5F5;
  border-radius: 16px;
  height: 328px;
  position: relative;
}
.delivery-city__left img {
  position: absolute;
  top: 0;
  right: 0;
}
.delivery-city__left-columns {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.delivery-city__left-column {
  width: 150px;
}
.delivery-city__left-category {
  font-size: 16px;
  line-height: 20.8px;
  color: #1C1C1D;
  padding-bottom: 16px;
}
.delivery-city__left-category:last-child {
  padding-bottom: 0;
}
.delivery-city__left-title {
  font-size: 32px;
  line-height: 41.6px;
  font-weight: 500;
  padding-bottom: 24px;
}
.delivery-city__right {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
  flex-wrap: wrap;
}
.delivery-city__right-block {
  text-align: center;
  width: 168.5px;
  height: 152px;
  padding: 11px 24px;
  background-color: #F5F5F5;
  border-radius: 16px;
}
.delivery-city__right-title {
  font-size: 16px;
  line-height: 20.8px;
  color: #1C1C1D;
  padding-top: 8px;
  width: 120.5px;
  margin: 0 auto;
}

/* ADVICES */
.advices__blocks {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}
.advices__block {
  padding: 40px 27px 229px 27px;
  border-radius: 16px;
  position: relative;
  width: 300px;
}
.advices__block-img {
  position: absolute;
  bottom: 0;
}
.advices__block-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  padding-bottom: 8px;
}
.advices__block-text {
  font-size: 16px;
  line-height: 20.8px;
}
.advices__block:first-child {
  background-color: #FFE7DF;
  transform: rotate(2.39deg);
}
.advices__block:nth-child(2) {
  background-color: #FFF0E8;
  transform: rotate(-1.66deg);
}
.advices__block:nth-child(3) {
  background-color: #EEF9EE;
  transform: rotate(2.39deg);
}
.advices__block:last-child {
  background-color: #FFEFF6;
  transform: rotate(-1.66 deg);
}
.advices__block:first-child img {
  left: 50px;
}
.advices__block:nth-child(2) img {
  left: 50px;
}
.advices__block:nth-child(3) img {
  transform: rotate(-2.86deg);
  bottom: -5px;
  right: -11px;
}
.advices__block:last-child img {
  left: 50px;
}

/* RATING-SHOP */
.rating-shop {
  padding: 90px 0;
  background-color: #F5F5F5;
}
.rating-shop .title-scroll div {
  display: flex;
}
.rating-shop .title-scroll img {
  margin: 0 12px 0 18px;
  width: 32px;
}
.rating-shop .title-scroll p {
  font-size: 42px;
  line-height: 54.6px;
  font-weight: 500;
  color: #AD2950;
}
.rating-shop__details {
  display: flex;
  align-items: flex-end;
  -moz-column-gap: 24px;
       column-gap: 24px;
  padding-bottom: 32px;
}
.rating-shop__details-yandex {
  font-size: 22px;
  line-height: 36px;
  font-weight: 500;
  color: #1C1C1D;
  border-bottom: 1px dashed #93949B;
}
.rating-shop__details-number {
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 500;
}
.rating-shop__details-number span {
  font-size: 18px;
  line-height: 21.6px;
  font-weight: 400;
}
.rating-shop__photos {
  display: flex;
  justify-content: space-between;
}
.rating-shop__photos-imgs {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  font-size: 12px;
  line-height: 15.6px;
}
.rating-shop__photos-img {
  text-align: center;
}
.rating-shop__photos-img img {
  width: 145px;
  height: 156px;
  margin-bottom: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}
.rating-shop__photos-img:first-child img {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
.rating-shop__photos-img:last-child img {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}
.rating-shop__photos-review {
  padding: 16px 24px;
  border-radius: 16px;
  background-color: #fff;
  margin-top: 16px;
  font-size: 12px;
  line-height: 15.6px;
  text-align: center;
}

/* ADVANTAGES */
.advantages .main-title {
  text-align: center;
  padding-bottom: 10px;
}
.advantages__blocks {
  display: flex;
  justify-content: space-between;
}
.advantages__block {
  max-width: 368px;
  text-align: center;
}
.advantages__block-title {
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 700;
  padding: 24px 0 16px 0;
}
.advantages__block-descrip {
  font-size: 16px;
  line-height: 20.8px;
}

/* BLOCKS-MAIN */
.blocks-main .main-btn {
  width: 153px;
  white-space: nowrap;
}
.blocks-main__inner {
  display: flex;
  justify-content: space-between;
}
.blocks-main__block {
  padding: 48px 0 48px 48px;
  width: 636px;
  height: 323px;
  border-radius: 16px;
  position: relative;
}
.blocks-main__block img {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 16px;
}
.blocks-main__block:first-child {
  color: #fff;
  background-color: #749597;
}
.blocks-main__block:last-child {
  background: linear-gradient(179.32deg, #F5EFEE 0.47%, #E9E1DE 99.31%);
}
.blocks-main__title {
  font-size: 32px;
  line-height: 41.6px;
  font-weight: 500;
  padding: 16px 0 24px 0;
}
.blocks-main__descrip {
  font-size: 16px;
  line-height: 20.8px;
  padding-bottom: 24px;
}

/* ABOUT-COMPANY */
.about-company .main-title {
  padding-bottom: 48px;
}
.about-company__inner {
  margin: 32px 0 100px 0;
}
.about-company__how {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 134px;
       column-gap: 134px;
}
.about-company__info {
  max-width: 526px;
}
.about-company__info h4 {
  font-size: 32px;
  line-height: 41.6px;
  font-weight: 500;
  padding-bottom: 48px;
}
.about-company__info p {
  font-size: 16px;
  line-height: 20.8px;
  padding-bottom: 24px;
}
.about-company__info p:last-child {
  padding-bottom: 0;
}
.about-company__item {
  display: flex;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
  padding: 24px;
  background-color: #F5F5F5;
  border-radius: 24px;
  margin-bottom: 24px;
}
.about-company__item:last-child {
  margin-bottom: 0;
}
.about-company__item h5 {
  font-size: 22px;
  line-height: 28.6px;
  font-weight: 700;
  padding-bottom: 16px;
}
.about-company__item p {
  font-size: 16px;
  line-height: 20.8px;
}

/* ORDER-PAYMENT */
.order-payment .main-btn {
  width: 240px;
  height: 60px;
  padding: 18.5px 48px;
  margin: 0 auto;
  text-align: center;
}
.order-payment__close {
  padding: 10px;
  border-radius: 50%;
  background-color: #F5F5F5;
  position: absolute;
  top: 20px;
  right: 20px;
}
.order-payment__inner {
  padding: 48px;
  border-radius: 24px;
  background-color: #fff;
  width: 636px;
  height: 657px;
  position: relative;
}
.order-payment__title {
  font-size: 32px;
  line-height: 41.6px;
  font-weight: 500;
  padding-bottom: 24px;
}
.order-payment__entity {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  padding-bottom: 48px;
}
.order-payment__entity-btn {
  padding: 14.5px 24px;
  border-radius: 12px;
  border: 1px solid #E5E7EB;
  font-size: 16px;
  line-height: 20.8px;
  font-weight: 500;
}
.order-payment__entity-btn--active {
  border: 1px solid #AD2950;
  color: #AD2950;
}
.order-payment__pretitle {
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 700;
  padding-bottom: 18px;
}
.order-payment__ways .order-payment__pretitle {
  padding-bottom: 18px;
}
.order-payment__ways-btns {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.order-payment__ways-btn {
  display: flex;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  padding: 13px 14px 13px 24px;
  border: 1px solid #E5E7EB;
  border-radius: 12px;
  font-size: 14px;
  line-height: 18.2px;
  font-weight: 500;
  width: 258px;
  height: 50px;
  white-space: nowrap;
  margin-bottom: 16px;
}
.order-payment__ways-btn--active {
  border: 1px solid #AD2950;
}
.order-payment__ways-others {
  font-size: 14px;
  line-height: 18.2px;
  border-bottom: 1px dashed #1C1C1D;
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
}
.order-payment__ways-othersbtn {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.order-payment__bonus {
  padding: 24px;
  border: 1px solid #E3E6EC;
  border-radius: 16px;
  margin-bottom: 48px;
  margin-top: 51px;
}
.order-payment__bonus-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 13px;
}
.order-payment__bonus-descrip {
  font-size: 14px;
  line-height: 18.2px;
  color: #93949B;
}
.order-payment__create-checks {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
  padding: 12px 0 32px 0;
}
.order-payment__create-check {
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
  align-items: center;
}
.order-payment__create-check input {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 8px;
  background-color: #AD2950;
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-payment__create-check label {
  font-size: 16px;
  line-height: 20.8px;
}
.order-payment__create-check input:after {
  content: url(icon/check.svg);
  display: none;
}
.order-payment__create-check input:checked:after {
  display: block;
}
.order-payment__create-descrip {
  font-size: 16px;
  line-height: 20.8px;
  font-weight: 500;
}
.order-payment__create-input {
  width: 100%;
  height: 50px;
  padding-left: 24px;
  border: 1px solid #93949B;
  border-radius: 12px;
  font-size: 16px;
  line-height: 20.8px;
  margin-bottom: 24px;
}
.order-payment__create-input::-moz-placeholder {
  color: #93949B;
}
.order-payment__create-input::placeholder {
  color: #93949B;
}
.order-payment__create__notification {
  display: flex;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.order-payment__create__notification label {
  font-size: 16px;
  line-height: 20.8px;
}

/* PAYMENT */
.payment__btn {
  padding: 32px 48px;
  border: 1px solid #E3E6EC;
  border-radius: 16px;
  text-align: left;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.payment__answer {
  padding-top: 24px;
  font-size: 14px;
  line-height: 18.2px;
}
.payment__answer--display {
  display: none;
}
.payment__cross--display {
  display: none;
}

/* REVIEWS */
.reviews {
  padding: 80px 0 48.03px 0;
  background-color: #F5F5F5;
}
.reviews .main-title {
  padding-bottom: 32px;
}
.reviews__rating {
  display: flex;
  align-items: baseline;
  -moz-column-gap: 16px;
       column-gap: 16px;
  padding-bottom: 24px;
}
.reviews__rating-number {
  font-size: 42px;
  line-height: 54.6px;
  font-weight: 500;
}
.reviews__rating-stars {
  display: flex;
  -moz-column-gap: 6px;
       column-gap: 6px;
  padding-bottom: 4px;
}
.reviews__rating-block span {
  font-size: 16px;
  line-height: 20.8px;
}
.reviews__rating-point {
  color: #93949B;
}
.reviews__rating-info {
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.reviews__preview {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  padding-bottom: 64px;
}
.reviews__preview-imgs {
  position: relative;
}
.reviews__preview-others {
  padding: 44px 22px 41px 26px;
  border-radius: 8px;
  background-color: rgba(28, 28, 29, 0.5019607843);
  color: #fff;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 500;
  position: absolute;
  right: 0;
}
.reviews__preview img {
  border-radius: 8px;
  width: 108px;
  height: 108px;
  -o-object-fit: cover;
     object-fit: cover;
}
.reviews__blocks {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.reviews__blocks .reviews__rating-stars {
  -moz-column-gap: 2px;
       column-gap: 2px;
}
.reviews__blocks .reviews__rating-stars img {
  width: 16px;
}
.reviews__block {
  width: 416px;
  height: 401.3px;
  padding: 24px 24px 48px 24px;
  border-radius: 16px;
  background-color: #fff;
  margin-bottom: 31.97px;
}
.reviews__block-imgs {
  display: flex;
  -moz-column-gap: 9px;
       column-gap: 9px;
}
.reviews__block-imgs {
  text-align: center;
}
.reviews__block-imgs span {
  display: block;
  font-size: 12px;
  line-height: 15.6px;
  color: #93949B;
}
.reviews__block-img img {
  border-radius: 8px;
  width: 179.5px;
  height: 179.5px;
  margin-bottom: 6.53px;
  -o-object-fit: cover;
     object-fit: cover;
}
.reviews__autor {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 16px;
}
.reviews__autor-name {
  font-size: 16px;
  line-height: 20.8px;
  font-weight: 500;
  padding-bottom: 4px;
}
.reviews__autor-when {
  font-size: 14px;
  line-height: 18.2px;
  color: #93949B;
}
.reviews__comment {
  font-size: 14px;
  line-height: 18.2px;
  padding-top: 14px;
}
.reviews__comment span {
  color: #93949B;
}

/* CATEGORIES */
.categories {
  margin-bottom: 48px;
}
.categories .right {
  position: absolute;
  top: 67px;
  right: -4px;
}
.categories__inner {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 4px;
       column-gap: 4px;
  position: relative;
}
.categories__block {
  padding: 15.5px 8px 5px 8px;
  border-radius: 16px;
  text-align: center;
  width: 140px;
  height: 140px;
}
.categories__block--active {
  border: 1px solid #AD2950;
}
.categories__block-title {
  font-size: 16px;
  line-height: 20.8px;
  padding-top: 8px;
  max-width: 124px;
  text-align: center;
}
.categories__block-title--active {
  color: #AD2950;
}
.categories__gradient {
  width: 124px;
  height: 140px;
  background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0.7) 43.4%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  right: 0;
}

/* INFO */
.info {
  padding-bottom: 22.5px;
  border-bottom: 1px solid #F5F5F5;
  margin-bottom: 24px;
}
.info .main-title {
  padding-bottom: 24px;
}
.info__inner {
  display: flex;
  align-items: center;
  align-items: center;
}
.info__inner img {
  border-radius: 16px;
  width: 150px;
  height: 150px;
}
.info__address {
  padding: 0 319px 0 32px;
}
.info__address-address {
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 500;
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.info__address-map {
  color: #AD2950;
  border-bottom: 1px dashed #AD2950;
  max-width: 73px;
}
.info__address-blocks {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  padding-top: 16px;
}
.info__address-block {
  display: flex;
  align-items: center;
  height: 50px;
  width: 296px;
  padding: 10.5px 24px;
  background-color: #F5F5F5;
  border-radius: 12px;
}
.info__address-block img {
  max-width: 24px;
}
.info__address-point {
  color: #93949B;
  padding: 0 8px;
}
.info__address-span {
  font-size: 16px;
  line-height: 20.8px;
  font-weight: 500;
}
.info__address-text {
  font-size: 16px;
  line-height: 20.8px;
}
.info__address-block:last-child {
  width: 287px;
  padding: 14.5px 24px;
  white-space: nowrap;
}
.info__address-block:last-child img {
  margin-right: 8px;
}
.info__hours-flex {
  display: flex;
  -moz-column-gap: 18px;
       column-gap: 18px;
  align-items: flex-start;
  padding-bottom: 32px;
}
.info__hours-title {
  font-size: 16px;
  line-height: 20.8px;
  font-weight: 500;
  padding-bottom: 8px;
}
.info__hours-text {
  font-size: 16px;
  line-height: 20.8px;
}

/* CORPORATE */
/* CORPORATE */
.corporate .main-title {
  padding-bottom: 48px;
  text-align: center;
}
.corporate__delivery {
  padding: 96px 770px 96px 110px;
  border-radius: 24px;
  background-color: #F5F5F5;
  position: relative;
}
.corporate__delivery-img {
  position: absolute;
  bottom: 0;
  right: 0;
  max-height: 348px;
  border-bottom-right-radius: 24px;
  border-top-right-radius: 24px;
}
.corporate__delivery-title {
  font-size: 32px;
  line-height: 41.6px;
  font-weight: 500;
  padding-bottom: 32px;
}
.corporate__delivery-info {
  font-size: 16px;
  line-height: 20.8px;
  max-width: 416px;
}
.corporate__settlement {
  padding: 60.5px 660px 60.5px 110px;
  border-radius: 24px;
  background-color: #F5F5F5;
  position: relative;
}
.corporate__settlement-title {
  font-size: 32px;
  line-height: 41.6px;
  font-weight: 500;
  max-width: 526px;
  padding-bottom: 32px;
}
.corporate__settlement-text {
  font-size: 16px;
  line-height: 20.8px;
  max-width: 526px;
}
.corporate__settlement-img {
  position: absolute;
  top: 0;
  right: 0;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}
.corporate__how {
  display: flex;
  justify-content: space-between;
  margin: 96px 0 105px 0;
}
.corporate__how-title {
  font-size: 32px;
  line-height: 41.6px;
  font-weight: 500;
  max-width: 303px;
  padding-top: 21px;
}
.corporate__how-list {
  font-size: 16px;
  line-height: 20.8px;
  max-width: 636px;
}
.corporate__stylish {
  position: relative;
  padding: 131.5px 387px;
  background-color: #F5F5F5;
  border-radius: 24px;
  text-align: center;
}
.corporate__stylish-title {
  font-size: 32px;
  line-height: 41.6px;
  font-weight: 500;
  padding-bottom: 32px;
}
.corporate__stylish-text {
  font-size: 16px;
  line-height: 20.8px;
}
.corporate__stylish-img {
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
}
.corporate__contact {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.corporate__contact-block {
  padding: 32px 24px;
  border: 1px solid #DADADA;
  border-radius: 16px;
  width: 306px;
  margin-bottom: 24px;
}
.corporate__contact-block:first-child {
  width: 636px;
}
.corporate__contact-block:nth-child(4) {
  width: 636px;
  margin-bottom: 0;
}
.corporate__contact-block:nth-child(4) .corporate__contact-text {
  max-width: 368px;
  line-height: 26.8px;
}
.corporate__contact-block:last-child {
  width: 636px;
  height: 312.48px;
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
  margin-bottom: 0;
}
.corporate__contact-block:last-child .corporate__contact-text {
  font-size: 12px;
  line-height: 15.6px;
  max-width: 272px;
  padding-bottom: 20.74px;
}
.corporate__contact-title {
  font-size: 22px;
  line-height: 28.6px;
  font-weight: 500;
  padding-bottom: 24px;
}
.corporate__contact-flex {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
}
.corporate__contact-flex:last-child {
  padding-bottom: 24px;
}
.corporate__contact-text {
  font-size: 16px;
  line-height: 20.8px;
  max-width: 258px;
}
.corporate__contact-text span {
  font-weight: 500;
}
.corporate__contact-hours {
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 500;
  padding-bottom: 8px;
}
.corporate__contact-email {
  font-size: 22px;
  line-height: 28.6px;
  font-weight: 700;
  padding-top: 84px;
}
.corporate__contact-img {
  width: 282px;
  height: 248.48px;
}
.corporate__contact .main-btn {
  max-width: 196px;
  white-space: nowrap;
}

/* BONUSSYSTEM */
/* SYSTEM */
.system {
  margin: 48px 0 100px 0;
}
.system .main-title {
  text-align: center;
  padding-bottom: 48px;
}
.system__decrip {
  font-size: 18px;
  line-height: 23.4px;
  padding-bottom: 32px;
  max-width: 922px;
  margin: 0 auto;
  text-align: center;
}
.system__blocks {
  display: flex;
  justify-content: center;
  -moz-column-gap: 109px;
       column-gap: 109px;
}
.system__block {
  padding: 43.5px 32px 43.5px 24px;
  background-color: #F5F5F5;
  border-radius: 24px;
  text-align: center;
}
.system__block-img {
  width: 250px;
  height: 250px;
  background: url(img/bonussystem1.png);
}
.system__block-title {
  font-size: 32px;
  line-height: 41.6px;
  font-weight: 500;
  padding-bottom: 16px;
}
.system__block-info {
  font-size: 18px;
  line-height: 23.4px;
  max-width: 258px;
}

/* PAYMENTDELIVERY */
/* DELIVERY */
.delivery {
  margin: 100px 0;
}
.delivery .main-title {
  padding-bottom: 32px;
  text-align: center;
}
.delivery__decrip {
  font-size: 24px;
  line-height: 31.2px;
  padding-bottom: 32px;
  text-align: center;
}
.delivery__info {
  display: flex;
  justify-content: center;
  -moz-column-gap: 79px;
       column-gap: 79px;
}
.delivery__img {
  width: 526px;
  height: 487.29px;
  background: url(img/paymentdelivery2.png);
  margin-top: 143.35px;
}
.delivery__questions-item {
  padding: 25px 25px 25px 24px;
  background-color: #F5F5F5;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  width: 636px;
  text-align: left;
  margin-bottom: 16px;
}
.delivery__questions-item--display {
  background-color: #fff;
  border: 1px solid #E5E7EB;
  box-shadow: 0px 4px 6px -2px rgba(18, 18, 23, 0.0509803922);
  box-shadow: 0px 10px 15px -3px rgba(18, 18, 23, 0.0784313725);
}
.delivery__questions-item:last-child {
  margin-bottom: 0;
}
.delivery__questions-question {
  font-size: 22px;
  line-height: 28.6px;
  font-weight: 500;
}
.delivery__questions-answer {
  font-size: 16px;
  line-height: 20.8px;
  padding-top: 24px;
}
.delivery__questions-answer--display {
  display: none;
}
.delivery__questions-minus--display {
  display: none;
}

/* PAYMENT */
.payment {
  padding: 32px 0 100px 0;
  border-bottom: 1px solid #E5E7EB;
}
.payment .main-title {
  padding-bottom: 24px;
  text-align: center;
}
.payment__inner {
  padding: 48px 48px 36px 48px;
  background-color: #F5F5F5;
  border-radius: 24px;
}
.payment__how {
  display: flex;
  align-items: center;
  -moz-column-gap: 202px;
       column-gap: 202px;
  padding: 48px 110px;
  background-color: #fff;
  border-radius: 24px;
}
.payment__how-info {
  max-width: 478px;
}
.payment__how-title {
  font-size: 22px;
  line-height: 28.6px;
  font-weight: 700;
  padding-bottom: 24px;
}
.payment__how-list {
  font-size: 16px;
  line-height: 20.8px;
}
.payment__how-item {
  padding-bottom: 15px;
}
.payment__how-item:last-child {
  padding-bottom: 0;
}
.payment__blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 24px;
}
.payment__block {
  padding: 24px 24px 48px 24px;
  background-color: #fff;
  border-radius: 16px;
  width: 282px;
  margin-bottom: 24px;
}
.payment__block-title {
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 700;
  padding-bottom: 16px;
  max-width: 234px;
}
.payment__block-info {
  font-size: 14px;
  line-height: 18.2px;
  max-width: 234px;
}

/* PRODUCTS */
.products__inner {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.products__product-photo {
  width: 306px;
  height: 306px;
  border-radius: 16px;
  background: url(img/photo1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.products__product-title {
  font-size: 16px;
  line-height: 20.8px;
  font-weight: 500;
  padding: 16px 0 10px 0;
}
.products__product-delivery {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
  font-size: 14px;
  line-height: 18.2px;
  color: #93949B;
  padding-bottom: 11px;
}
.products__product-buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products__product-buy span {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

/* HEADER */
.header {
  position: relative;
  margin-bottom: 48px;
}
.header .connect-descrip {
  font-size: 13px;
  line-height: 16.9px;
}
.header .connect-title {
  margin-right: 3px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  white-space: nowrap;
}
.header .connect-bottom {
  display: flex;
  align-items: center;
  padding-bottom: 3px;
  border-bottom: 1px dashed #DFE2E8;
}
.header .main-btn {
  padding: 13px 16px;
  -moz-column-gap: 8px;
       column-gap: 8px;
  margin: 0 16px 0 78.8px;
  white-space: nowrap;
  display: flex;
  align-items: center;
}
.header__imgs img {
  position: absolute;
  top: 0;
}
.header__imgs img:first-child {
  left: 0;
}
.header__imgs img:nth-child(2) {
  left: 0;
}
.header__imgs img:nth-child(3) {
  right: 0;
}
.header__imgs img:nth-child(4) {
  right: 0;
  z-index: -1;
}
.header__imgs img:nth-child(5) {
  top: 166px;
  right: 0;
}
.header__imgs img:nth-child(6) {
  left: 18%;
}
.header__imgs img:nth-child(7) {
  left: 25%;
}
.header__imgs img:nth-child(8) {
  left: 30%;
}
.header__imgs img:nth-child(9) {
  left: 38%;
}
.header__imgs img:nth-child(10) {
  left: 44%;
}
.header__imgs img:nth-child(11) {
  left: 52%;
}
.header__imgs img:nth-child(12) {
  left: 53%;
}
.header__imgs img:nth-child(13) {
  left: 62%;
}
.header__imgs img:nth-child(14) {
  left: 69%;
}
.header__imgs img:nth-child(15) {
  left: 73%;
}
.header__bottom {
  display: flex;
  align-items: center;
  padding: 24px 0;
}
.header__field {
  -moz-column-gap: 8px;
       column-gap: 8px;
  display: flex;
  align-items: center;
  width: 422px;
  height: 50px;
  border: 1px solid #DFE2E8;
  border-radius: 12px;
  padding-left: 16px;
  margin-right: 44.5px;
}
.header__whatsapp {
  padding: 5px;
  border-radius: 50%;
  background-color: #29A71A;
  margin-right: 5px;
}
.header__telegram {
  padding: 5.97px 5.33px;
  border-radius: 50%;
  background-color: #23B7EC;
  margin-right: 5px;
}
.header__like {
  padding: 13px;
  border: 1px solid #E5E7EB;
  border-radius: 12px;
  margin: 0 16px 0 44.5px;
}
.header__cart {
  padding: 9px;
  border: 1px solid #E5E7EB;
  border-radius: 12px;
  margin-right: 16px;
}
.header__account {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  border: 1px solid #E5E7EB;
  padding: 9px 8.5px;
  border-radius: 12px;
}
.header__account-hrs hr {
  height: 2px;
  background-color: #1C1C1D;
}
.header__account-hrs hr:first-child {
  width: 16.5px;
  margin-bottom: 3.63px;
}
.header__account-hrs hr:nth-child(2) {
  width: 16.5px;
  margin-bottom: 3.63px;
}
.header__account-hrs hr:last-child {
  width: 9px;
  margin-bottom: 3.63px;
}
.header__account img {
  padding: 6px;
  border-radius: 50%;
  background-color: #03A050;
}
.header__hrs hr {
  width: 100%;
  height: 1px;
  background-color: #E5E7EB;
}
.header__hrs hr:first-child {
  position: absolute;
  top: 68px;
}
.header__hrs hr:last-child {
  position: absolute;
  bottom: 0;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0 12px 0;
}
.header__local {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
  font-size: 16px;
  line-height: 20.8px;
  font-weight: 500;
}
.header__hours {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
  white-space: nowrap;
  color: #AD2950;
  font-size: 16px;
  line-height: 20.8px;
  font-weight: 500;
}
.header__list {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
  font-size: 14px;
  line-height: 18.2px;
}
.header__item a {
  color: #1C1C1D;
}
.header__left {
  display: flex;
  -moz-column-gap: 65px;
       column-gap: 65px;
}/*# sourceMappingURL=style.css.map */