/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
    display: block;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}


@font-face {
    font-family: "PT Root UI";
    src: url(font/PT-Root-UI_Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "PT Root UI";
    src: url(font/PT-Root-UI_Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "PT Root UI";
    src: url(font/PT-Root-UI_Bold.ttf);
    font-weight: 700;
}

@mixin font16 {
    font-size: 16px;
    line-height: 20.8px;
}

$grayBG:#F5F5F5;
$pink:#AD2950;
$grayText:#93949B;
$blackText:#1C1C1D;

.container {
    width: 1296px;
    margin: 0 auto;
}
body {
    font-family: "PT Root UI";
    font-weight: 400;
    color: $blackText;
}
.main-btn {
    padding: 14.5px 35px;
    border-radius: 12px;
    background-color: $pink;
    color: #fff;
    @include font16;
    font-weight: 700;
}
.btn-pink {
    padding: 14.5px 24px;
    border: 1px solid #FCE7F3;
    border-radius: 12px;
    font-size: 16px;
    line-height: 20.8px;
    font-weight: 700;
    color: $pink;
}
.main-title {
    font-size: 42px;
    line-height: 54.6px;
    font-weight: 500;
}
.connect {
    &-info {
        margin-left: 10px;
    }
    &-title {
        font-size: 16px;
        line-height: 20.8px;
        font-weight: 500;
        color: $blackText;
    }
    &-descrip {
        font-size: 12px;
        line-height: 15.6px;
        color: $grayText;
    }
}
.arrow {
    padding: 13px;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    background-color: #fff;
    border: 1px solid #E5E7EB;
    width: 50px;
    height: 50px;
}
.title-scroll {
    display: flex;
    justify-content: space-between;
    &__text {
        font-size: 42px;
        line-height: 54.6px;
        font-weight: 500;
    }
    &__btns {
        display: flex;
        column-gap: 16px;
    }
}

/* ADVICES */

.advices {
    &__blocks {
        display: flex;
        justify-content: space-between;
        padding-top: 32px ;
    }
    &__block {
        padding: 40px 27px 229px 27px;
        border-radius: 16px;
        position: relative;
        width: 300px;
        &-img {
            position: absolute;
            bottom: 0;
        }
        &-title {
            font-size: 20px;
            line-height: 26px;
            font-weight: 700;
            padding-bottom: 8px;
        }
        &-text {
            font-size: 16px;
            line-height: 20.8px;
        }
    }
    &__block:first-child {
        background-color: #FFE7DF;
        transform: rotate(2.39deg);
    }
    &__block:nth-child(2) {
        background-color: #FFF0E8;
        transform: rotate(-1.66deg);
    }
    &__block:nth-child(3) {
        background-color: #EEF9EE;
        transform: rotate(2.39deg);
    }
    &__block:last-child {
        background-color: #FFEFF6;
        transform: rotate(-1.66 deg);
    }
    &__block:first-child img {
        left: 50px;
    }
    &__block:nth-child(2) img {
        left: 50px;
    }
    &__block:nth-child(3) img {
        transform: rotate(-2.86deg);
        bottom: -5px;
        right: -11px;
    }
    &__block:last-child img {
        left: 50px;
    }
}

/* RATING-SHOP */

.rating-shop {
    padding: 90px 0;
    background-color: $grayBG;
    &__title {
        display: flex;
        justify-content: space-between;
        &-info {
            display: flex;
        }
        &-name {
            font-size: 42px;
            line-height: 54.6px;
            font-weight: 500;
            padding-right: 10px;
        }
        &-number {
            font-size: 42px;
            line-height: 54.6px;
            font-weight: 500;
            padding-right: 4px;
        }
        &-btns {
            display: flex;
            column-gap: 16px;
        }
        &-btn {
            padding: 13px;
            border-radius: 12px;
            background-color: #fff;
            height: 50px;
        }
    }
    &__details {
        display: flex;
        align-items: flex-end;
        column-gap: 24px;
        padding-bottom: 32px;
        &-yandex {
            font-size: 22px;
            line-height: 36px;
            font-weight: 500;
            color: $blackText;
            border-bottom: 1px dashed $grayText;
        }
        &-number {
            font-size: 24px;
            line-height: 28.8px;
            font-weight: 500;
            span {
                font-size: 18px;
                line-height: 21.6px;
                font-weight: 400;
            }
        }
    }
    &__photos {
        display: flex;
        justify-content: space-between;
        &-imgs {
            display: flex;
            column-gap: 16px;
            font-size: 12px;
            line-height: 15.6px;
        }
        &-img {
            text-align: center;
        }
        &-img img {
            width: 145px;
            height: 156px;
            margin-bottom: 8px;
            object-fit: cover;
        }
        &-img:first-child img {
            border-top-left-radius: 16px;
            border-bottom-left-radius: 16px;
        }
        &-img:last-child img {
            border-top-right-radius: 16px;
            border-bottom-right-radius: 16px;
        }
        &-review {
            padding: 16px 24px;
            border-radius: 16px;
            background-color: #fff;
            margin-top: 16px;
            font-size: 12px;
            line-height: 15.6px;
            text-align: center;
        }
    }
}

/* ADVANTAGES */

.advantages {
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__block {
        max-width: 368px;
        text-align: center;
        &-title {
            font-size: 18px;
            line-height: 23.4px;
            font-weight: 700;
            padding: 24px 0 16px 0;
        }
        &-descrip {
            font-size: 16px;
            line-height: 20.8px;
        }
    }
}

/* BLOCKS-MAIN */

.blocks-main {
    .main-btn {
        width: 153px;
        white-space: nowrap;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__block {
        padding: 48px 0 48px 48px;
        width: 636px;
        height: 323px;
        border-radius: 16px;
        position: relative;
        img {
            position: absolute;
            bottom: 0;
            right: 0;
            border-radius: 16px;
        }
    }
    &__block:first-child {
        color: #fff;
        background-color: #749597;
    }
    &__block:last-child {
        background: linear-gradient(179.32deg, #F5EFEE 0.47%, #E9E1DE 99.31%);
    }
    &__title {
        font-size: 32px;
        line-height: 41.6px;
        font-weight: 500;
        padding: 16px 0 24px 0;
    }
    &__descrip {
        font-size: 16px;
        line-height: 20.8px;
        padding-bottom: 24px;
    }
}

/* ABOUT-COMPANY */

.about-company {
    .main-title {
        padding-bottom: 48px;
    }
    &__inner {
        margin: 32px 0 100px 0;
    }
    &__how {
        display: flex;
        justify-content: space-between;
        column-gap: 134px;
    }
    &__info {
        max-width: 526px;
    }
    &__info h4 {
        font-size: 32px;
        line-height: 41.6px;
        font-weight: 500;
        padding-bottom: 48px;
    }
    &__info p {
        font-size: 16px;
        line-height: 20.8px;
        padding-bottom: 24px;
    }
    &__info p:last-child {
        padding-bottom: 0;
    }
    &__item {
        display: flex;
        align-items: center;
        column-gap: 24px;
        padding: 24px;
        background-color: $grayBG;
        border-radius: 24px;
        margin-bottom: 24px;
    }
    &__item:last-child {
        margin-bottom: 0;
    }
    &__item h5 {
        font-size: 22px;
        line-height: 28.6px;
        font-weight: 700;
        padding-bottom: 16px;
    }
    &__item p {
        font-size: 16px;
        line-height: 20.8px;
    }
}


/* ORDER-PAYMENT */

.order-payment {
    .main-btn {
        width: 240px;
        height: 60px;
        padding: 18.5px 48px;
        margin: 0 auto;
        text-align: center;
    }
    &__close {
        padding: 10px;
        border-radius: 50%;
        background-color: $grayBG;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    &__inner {
      padding: 48px;
      border-radius: 24px;
      background-color: #fff;
      width: 636px;
      height: 657px;
      position: relative;
    }
    &__title {
      font-size: 32px;
      line-height: 41.6px;
      font-weight: 500;
      padding-bottom: 24px;
    }
    &__entity {
      display: flex;
      column-gap: 16px;
      padding-bottom: 48px;
      &-btn {
        padding: 14.5px 24px;
        border-radius: 12px;
        border: 1px solid #E5E7EB;
        font-size: 16px;
        line-height: 20.8px;
        font-weight: 500;
        &--active {
          border: 1px solid $pink;
          color: $pink;
        }
      }
    }
    &__pretitle {
        font-size: 18px;
        line-height: 23.4px;
        font-weight: 700;
        padding-bottom: 18px;
    }
    &__ways {
        .order-payment__pretitle {
            padding-bottom: 18px;
        }
        &-btns {
            display: flex;
            column-gap: 24px;
        }
        &-btn {
            display: flex;
            align-items: center;
            column-gap: 16px;
            padding: 13px 14px 13px 24px;
            border: 1px solid #E5E7EB;
            border-radius: 12px;
            font-size: 14px;
            line-height: 18.2px;
            font-weight: 500;
            width: 258px;
            height: 50px;
            white-space: nowrap;
            margin-bottom: 16px;
            &--active {
                border: 1px solid $pink;
            }
        }
        &-others {
            font-size: 14px;
            line-height: 18.2px;
            border-bottom: 1px dashed $blackText;
            width: fit-content;
            white-space: nowrap;
        }
        &-othersbtn {
            display: flex;
            flex-wrap: wrap;
            column-gap: 24px;
        }
    }
    &__bonus {
        padding: 24px;
        border: 1px solid #E3E6EC;
        border-radius: 16px;
        margin-bottom: 48px;
        margin-top: 51px;
        &-top {
            display: flex;
            justify-content: space-between;
            padding-bottom: 13px;
        }
        &-descrip {
            font-size: 14px;
            line-height: 18.2px;
            color: $grayText;
        }
    }
    &__create {
        &-checks {
            display: flex;
            column-gap: 24px;
            padding: 12px 0 32px 0;
        }
        &-check {
            display: flex;
            column-gap: 12px;
            align-items: center;
        }
        &-check input {
            appearance: none;
            -webkit-appearance: none;
            height: 24px;
            width: 24px;
            border-radius: 8px;
            background-color: $pink;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-check label {
            font-size: 16px;
            line-height: 20.8px;
        }
        &-check input:after {
            content: url(icon/check.svg);
            display: none;
        }
        &-check input:checked:after {
            display: block;
        }
        &-descrip {
            font-size: 16px;
            line-height: 20.8px;
            font-weight: 500;
        }
        &-input {
            width: 100%;
            height: 50px;
            padding-left: 24px;
            border: 1px solid $grayText;
            border-radius: 12px;
            font-size: 16px;
            line-height: 20.8px;
            margin-bottom: 24px;
        }
        &-input::placeholder {
            color: $grayText;
        }
        &__notification {
            display: flex;
            align-items: center;
            column-gap: 12px;
        }
        &__notification label {
            font-size: 16px;
            line-height: 20.8px;
        }
    }
  }

/* PAYMENT */

.payment {
    &__btn {
        padding: 32px 48px;
        border: 1px solid #E3E6EC;
        border-radius: 16px;
        text-align: left;
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &__answer {
        padding-top: 24px;
        font-size: 14px;
        line-height: 18.2px;
        &--display {
            display: none;
        }
    }
    &__cross {
        &--display {
            display: none;
        }
    }
}

/* REVIEWS */

.reviews {
    .main-title {
        padding-bottom: 32px;
    }
    padding: 80px 0 48.03px 0;
    background-color: $grayBG;
    &__rating {
        display: flex;
        align-items: baseline;
        column-gap: 16px;
        padding-bottom: 24px;
        &-number {
            font-size: 42px;
            line-height: 54.6px;
            font-weight: 500;
        }
        &-stars {
            display: flex;
            column-gap: 6px;
            padding-bottom: 4px;
        }
        &-block span {
            font-size: 16px;
            line-height: 20.8px;
        }
        &-point {
            color: $grayText;
        }
        &-info {
            display: flex;
            column-gap: 12px;
        }
    }
    &__preview {
        display: flex;
        column-gap: 16px;
        padding-bottom: 64px;
        &-imgs {
            position: relative;
        }
        &-others {
            padding: 44px 22px 41px 26px;
            border-radius: 8px;
            background-color: #1C1C1D80;
            color: #fff;
            font-size: 18px;
            line-height: 23.4px;
            font-weight: 500;
            position: absolute;
            right: 0;
        }
    }
    &__preview img {
        border-radius: 8px;
        width: 108px;
        height: 108px;
        object-fit: cover;
    }
    &__blocks {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        .reviews__rating-stars {
            column-gap: 2px;
        }
        .reviews__rating-stars img {
            width: 16px;
        }
    }
    &__block {
        width: 416px;
        height: 401.3px;
        padding: 24px 24px 48px 24px;
        border-radius: 16px;
        background-color: #fff;
        margin-bottom: 31.97px;
        &-imgs {
            display: flex;
            column-gap: 9px;
        }
        &-imgs {
            text-align: center;
        }
        &-imgs span {
            display: block;
            font-size: 12px;
            line-height: 15.6px;
            color: $grayText;
        }
        &-img img {
            border-radius: 8px;
            width: 179.5px;
            height: 179.5px;
            margin-bottom: 6.53px;
            object-fit: cover;
        }
    }
    &__autor {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-top: 16px;
        &-name {
            font-size: 16px;
            line-height: 20.8px;
            font-weight: 500;
            padding-bottom: 4px;
        }
        &-when {
            font-size: 14px;
            line-height: 18.2px;
            color: $grayText;
        }
    }
    &__comment {
        font-size: 14px;
        line-height: 18.2px;
        padding-top: 14px;
    }
    &__comment span {
        color: $grayText;
    }
}

/* CATEGORIES */

.categories {
    .right {
        position: absolute;
        top: 67px;
        right: -4px;
    }
    margin-bottom: 48px;
    &__inner {
        display: flex;
        justify-content: space-between;
        column-gap: 4px;
        position: relative;
    }
    &__block {
        padding: 15.5px 8px 5px 8px;
        border-radius: 16px;
        text-align: center;
        width: 140px;
        height: 140px;
        &--active {
            border: 1px solid $pink;
        }
        &-title {
            font-size: 16px;
            line-height: 20.8px;
            padding-top: 8px;
            max-width: 124px;
            text-align: center;
            &--active {
                color: $pink;
            }
        }
    }
    &__gradient {
        width: 124px;
        height: 140px;
        background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0.7) 43.4%, rgba(255, 255, 255, 0) 100%);
        position: absolute;
        right: 0;
    }
}

/* INFO */

.info {
    padding-bottom: 22.5px;
    border-bottom: 1px solid $grayBG;
    margin-bottom: 24px;
    .main-title {
        padding-bottom: 24px;
    }
    &__inner {
        display: flex;
        align-items: center;
        align-items: center;
    }
    &__inner img {
        border-radius: 16px;
        width: 150px;
        height: 150px;
    }
    &__address {
        padding: 0 319px 0 32px;
        &-address {
            font-size: 18px;
            line-height: 23.4px;
            font-weight: 500;
            display: flex;
            column-gap: 16px;
        }
        &-map {
            color: $pink;
            border-bottom: 1px dashed $pink;
            max-width: 73px;
        }
        &-blocks {
            display: flex;
            column-gap: 16px;
            padding-top: 16px;
        }
        &-block {
            display: flex;
            align-items: center;
            height: 50px;
            width: 296px;
            padding: 10.5px 24px;
            background-color: $grayBG;
            border-radius: 12px;
        }
        &-block img {
            max-width: 24px;
        }
        &-point {
            color: $grayText;
            padding: 0 8px;
        }
        &-span {
            font-size: 16px;
            line-height: 20.8px;
            font-weight: 500;
        }
        &-text {
            font-size: 16px;
            line-height: 20.8px;
        }
        &-block:last-child {
            width: 287px;
            padding: 14.5px 24px;
            white-space: nowrap;
        }
        &-block:last-child img {
            margin-right: 8px;
        }
    }
    &__hours {
        &-flex {
            display: flex;
            column-gap: 18px;
            align-items: flex-start;
            padding-bottom: 32px;
        }
        &-title {
            font-size: 16px;
            line-height: 20.8px;
            font-weight: 500;
            padding-bottom: 8px;
        }
        &-text {
            font-size: 16px;
            line-height: 20.8px;
        }
    }
}

/* CORPORATE */
/* CORPORATE */

.corporate {
    .main-title {
        padding-bottom: 48px;
        text-align: center;
    }
    &__delivery {
        padding: 96px 770px 96px 110px;
        border-radius: 24px;
        background-color: $grayBG;
        position: relative;
        &-img {
            position: absolute;
            bottom: 0;
            right: 0;
            max-height: 348px;
            border-bottom-right-radius: 24px;
            border-top-right-radius: 24px;
        }
        &-title {
            font-size: 32px;
            line-height: 41.6px;
            font-weight: 500;
            padding-bottom: 32px;
        }
        &-info {
            font-size: 16px;
            line-height: 20.8px;
            max-width: 416px;
        }
    }
    &__settlement {
        padding: 60.5px 660px 60.5px 110px;
        border-radius: 24px;
        background-color: $grayBG;
        position: relative;
        &-title {
            font-size: 32px;
            line-height: 41.6px;
            font-weight: 500;
            max-width: 526px;
            padding-bottom: 32px;
        }
        &-text {
            font-size: 16px;
            line-height: 20.8px;
            max-width: 526px;
        }
        &-img {
            position: absolute;
            top: 0;
            right: 0;
            border-top-right-radius: 24px;
            border-bottom-right-radius: 24px;
        }
    }
    &__how {
        display: flex;
        justify-content: space-between;
        margin: 96px 0 105px 0;
        &-title {
            font-size: 32px;
            line-height: 41.6px;
            font-weight: 500;
            max-width: 303px;
            padding-top: 21px;
        }
        &-list {
            font-size: 16px;
            line-height: 20.8px;
            max-width: 636px;
        }
    }
    &__stylish {
        position: relative;
        padding: 131.5px 387px;
        background-color: $grayBG;
        border-radius: 24px;
        text-align: center;
        &-title {
            font-size: 32px;
            line-height: 41.6px;
            font-weight: 500;
            padding-bottom: 32px;
        }
        &-text {
            font-size: 16px;
            line-height: 20.8px;
        }
        &-img {
            position: absolute;
            bottom: 0;
            left: 0;
            border-bottom-right-radius: 24px;
            border-bottom-left-radius: 24px;
        }
    }
    &__contact {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        &-block {
            padding: 32px 24px;
            border: 1px solid #DADADA;
            border-radius: 16px;
            width: 306px;
            margin-bottom: 24px;
        }
        &-block:first-child {
            width: 636px;
        }
        &-block:nth-child(4) {
            width: 636px;
            margin-bottom: 0;
            .corporate__contact-text {
                max-width: 368px;
                line-height: 26.8px;
            }
        }
        &-block:last-child {
            width: 636px;
            height: 312.48px;
            display: flex;
            column-gap: 24px;
            margin-bottom: 0;
            .corporate__contact-text {
                font-size: 12px;
                line-height: 15.6px;
                max-width: 272px;
                padding-bottom: 20.74px;
            }
        }
        &-title {
            font-size: 22px;
            line-height: 28.6px;
            font-weight: 500;
            padding-bottom: 24px;
        }
        &-flex {
            display: flex;
            justify-content: space-between;
            padding-bottom: 8px;
        }
        &-flex:last-child {
            padding-bottom: 24px;
        }
        &-text {
            font-size: 16px;
            line-height: 20.8px;
            max-width: 258px;
        }
        &-text span {
            font-weight: 500;
        }
        &-hours {
            font-size: 18px;
            line-height: 23.4px;
            font-weight: 500;
            padding-bottom: 8px;
        }
        &-email {
            font-size: 22px;
            line-height: 28.6px;
            font-weight: 700;
            padding-top: 84px;
        }
        &-img {
            width: 282px;
            height: 248.48px;
        }
        .main-btn {
            max-width: 196px;
            white-space: nowrap;
        }
    }
}

/* BONUSSYSTEM */
/* SYSTEM */

.system {
    margin: 48px 0 100px 0;
    .main-title {
        text-align: center;
        padding-bottom: 48px;
    }
    &__decrip {
        font-size: 18px;
        line-height: 23.4px;
        padding-bottom: 32px;
        max-width: 922px;
        margin: 0 auto;
        text-align: center;
    }
    &__blocks {
        display: flex;
        justify-content: center;
        column-gap: 109px;
    }
    &__block {
        padding: 43.5px 32px 43.5px 24px;
        background-color: $grayBG;
        border-radius: 24px;
        text-align: center;
        &-img {
            width: 250px;
            height: 250px;
            background: url(img/bonussystem1.png);
        }
        &-title {
            font-size: 32px;
            line-height: 41.6px;
            font-weight: 500;
            padding-bottom: 16px;
        }
        &-info {
            font-size: 18px;
            line-height: 23.4px;
            max-width: 258px;
        }
    }
}

/* PAYMENTDELIVERY */

/* DELIVERY */

.delivery {
    .main-title {
        padding-bottom: 32px;
        text-align: center;
    }
    margin: 100px 0;
    &__decrip {
        font-size: 24px;
        line-height: 31.2px;
        padding-bottom: 32px;
        text-align: center;
    }
    &__info {
        display: flex;
        justify-content: center;
        column-gap: 79px;
    }
    &__img {
        width: 526px;
        height: 487.29px;
        background: url(img/paymentdelivery2.png);
        margin-top: 143.35px;
    }
    &__questions {
        &-item {
            padding: 25px 25px 25px 24px;
            background-color: $grayBG;
            border-radius: 16px;
            display: flex;
            justify-content: space-between;
            width: 636px;
            text-align: left;
            margin-bottom: 16px;
            &--display {
                background-color: #fff;
                border: 1px solid #E5E7EB;
                box-shadow: 0px 4px 6px -2px #1212170D;
                box-shadow: 0px 10px 15px -3px #12121714;

            }
        }
        &-item:last-child {
            margin-bottom: 0;
        }
        &-question {
            font-size: 22px;
            line-height: 28.6px;
            font-weight: 500;
        }
        &-answer {
            font-size: 16px;
            line-height: 20.8px;
            padding-top: 24px;
            &--display {
                display: none;
            }
        }
        &-minus {
            &--display {
                display: none;
            }
        }
    }
}

/* PAYMENT */

.payment {
    padding: 32px 0 100px 0;
    border-bottom: 1px solid #E5E7EB;
    .main-title {
        padding-bottom: 24px;
        text-align: center;
    }
    &__inner {
        padding: 48px 48px 36px 48px;
        background-color: $grayBG;
        border-radius: 24px;
    }
    &__how {
        display: flex;
        align-items: center;
        column-gap: 202px;
        padding: 48px 110px;
        background-color: #fff;
        border-radius: 24px;
        &-info {
            max-width: 478px;
        }
        &-title {
            font-size: 22px;
            line-height: 28.6px;
            font-weight: 700;
            padding-bottom: 24px;
        }
        &-list {
            font-size: 16px;
            line-height: 20.8px;
        }
        &-item {
            padding-bottom: 15px;
        }
        &-item:last-child {
            padding-bottom: 0;
        }
    }
    &__blocks {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 24px;
    }
    &__block {
        padding: 24px 24px 48px 24px;
        background-color: #fff;
        border-radius: 16px;
        width: 282px;
        margin-bottom: 24px;
        &-title {
            font-size: 18px;
            line-height: 23.4px;
            font-weight: 700;
            padding-bottom: 16px;
            max-width: 234px;
        }
        &-info {
            font-size: 14px;
            line-height: 18.2px;
            max-width: 234px;
        }
    }
}

/* PRODUCTS */

.products {
    &__inner {
        display: flex;
        column-gap: 24px;
    }
    &__product {
        &-photo {
            width: 306px;
            height: 306px;
            border-radius: 16px;
            background: url(img/photo1.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        &-title {
            font-size: 16px;
            line-height: 20.8px;
            font-weight: 500;
            padding: 16px 0 10px 0;
        }
        &-delivery {
            display: flex;
            column-gap: 8px;
            font-size: 14px;
            line-height: 18.2px;
            color: $grayText;
            padding-bottom: 11px;
        }
        &-buy {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-buy span {
            font-size: 20px;
            line-height: 26px;
            font-weight: 700;
        }
    }
}

/* HEADER */

.header {
    .connect-descrip {
        font-size: 13px;
        line-height: 16.9px;
    }
    .connect-title {
        margin-right: 3px;
        font-size: 20px;
        line-height: 26px;
        font-weight: 700;
        white-space: nowrap;
    }
    .connect-bottom {
        display: flex;
        align-items: center;
        padding-bottom: 3px;
        border-bottom: 1px dashed #DFE2E8;
    }
    .main-btn {
        padding: 13px 16px;
        column-gap: 8px;
        margin: 0 16px 0 78.8px;
        white-space: nowrap;
        display: flex;
        align-items: center;
    }
    position: relative;
    margin-bottom: 48px;
    &__imgs img {
        position: absolute;
        top: 0;
    }
    &__imgs img:first-child {
        left: 0;
    }
    &__imgs img:nth-child(2) {
        left: 0;
    }
    &__imgs img:nth-child(3) {
        right: 0;
    }
    &__imgs img:nth-child(4) {
        right: 0;
        z-index: -1;
    }
    &__imgs img:nth-child(5) {
        top: 166px;
        right: 0;
    }
    &__imgs img:nth-child(6) {
        left: 18%;
    }
    &__imgs img:nth-child(7) {
        left: 25%;
    }
    &__imgs img:nth-child(8) {
        left: 30%;
    }
    &__imgs img:nth-child(9) {
        left: 38%;
    }
    &__imgs img:nth-child(10) {
        left: 44%;
    }
    &__imgs img:nth-child(11) {
        left: 52%;
    }
    &__imgs img:nth-child(12) {
        left: 53%;
    }
    &__imgs img:nth-child(13) {
        left: 62%;
    }
    &__imgs img:nth-child(14) {
        left: 69%;
    }
    &__imgs img:nth-child(15) {
        left: 73%;
    }
    &__bottom {
        display: flex;
        align-items: center;
        padding: 24px 0;
    }
    &__field {
        column-gap: 8px;
        display: flex;
        align-items: center;
        width: 422px;
        height: 50px;
        border: 1px solid #DFE2E8;
        border-radius: 12px;
        padding-left: 16px;
        margin-right: 44.5px;
    }
    &__whatsapp {
        padding: 5px;
        border-radius: 50%;
        background-color: #29A71A;
        margin-right: 5px;
    }
    &__telegram {
        padding: 5.97px 5.33px;
        border-radius: 50%;
        background-color: #23B7EC;
        margin-right: 5px;
    }
    &__like {
        padding: 13px;
        border: 1px solid #E5E7EB;
        border-radius: 12px;
        margin: 0 16px 0 44.5px;
    }
    &__cart {
        padding: 9px;
        border: 1px solid #E5E7EB;
        border-radius: 12px;
        margin-right: 16px;
    }
    &__account {
        display: flex;
        align-items: center;
        column-gap: 8px;
        border: 1px solid #E5E7EB;
        padding: 9px 8.5px;
        border-radius: 12px;
        &-hrs hr {
            height: 2px;
            background-color: #1C1C1D;
        }
        &-hrs hr:first-child {
            width: 16.5px;
            margin-bottom: 3.63px;
        }
        &-hrs hr:nth-child(2) {
            width: 16.5px;
            margin-bottom: 3.63px;
        }
        &-hrs hr:last-child {
            width: 9px;
            margin-bottom: 3.63px;
        }
    }
    &__account img {
        padding: 6px;
        border-radius: 50%;
        background-color: #03A050;
    }
    &__hrs hr {
        width: 100%;
        height: 1px;
        background-color: #E5E7EB;
    }
    &__hrs hr:first-child {
        position: absolute;
        top: 68px;
    }
    &__hrs hr:last-child {
        position: absolute;
        bottom: 0;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 32px 0 12px 0;
    }
    &__local {
        display: flex;
        column-gap: 8px;
        font-size: 16px;
        line-height: 20.8px;
        font-weight: 500;
    }
    &__hours {
        display: flex;
        column-gap: 8px;
        white-space: nowrap;
        color: $pink;
        font-size: 16px;
        line-height: 20.8px;
        font-weight: 500;
    }
    &__list {
        display: flex;
        column-gap: 24px;
        font-size: 14px;
        line-height: 18.2px;
    }
    &__item a {
        color: $blackText;
    }
    &__left {
        display: flex;
        column-gap: 65px;
    }
}

