@import "./vars";

.about-company {
    .main-title {
        padding-bottom: 48px;
    }
    &__inner {
        margin: 32px 0 100px 0;
    }
    &__how {
        display: flex;
        justify-content: space-between;
        column-gap: 134px;
    }
    &__info {
        max-width: 526px;
    }
    &__info h4 {
        font-size: 32px;
        line-height: 41.6px;
        font-weight: 500;
        padding-bottom: 48px;
    }
    &__info p {
        font-size: 16px;
        line-height: 20.8px;
        padding-bottom: 24px;
    }
    &__info p:last-child {
        padding-bottom: 0;
    }
    &__item {
        display: flex;
        align-items: center;
        column-gap: 24px;
        padding: 24px;
        background-color: $grayBG;
        border-radius: 24px;
        margin-bottom: 24px;
    }
    &__item:last-child {
        margin-bottom: 0;
    }
    &__item h5 {
        font-size: 22px;
        line-height: 28.6px;
        font-weight: 700;
        padding-bottom: 16px;
    }
    &__item p {
        font-size: 16px;
        line-height: 20.8px;
    }
}


@media (max-width: 960px) {
    .container {
        width: 343px;
    }

    .about-company {
        .main-title {
            padding-bottom: 40px;
        }
        &__inner {
            margin: 25.5px 0 50px 0;
        }
        &__how {
            display: block;
            column-gap: 0;
        }
        &__info {
            max-width: 343px;
        }
        &__info h4 {
            font-size: 22px;
            line-height: 28.6px;
            padding-bottom: 24px;
        }
        &__info p {
            font-size: 16px;
            line-height: 20.8px;
        }
        &__info p:last-child {
            padding-bottom: 32px;
        }
        &__item {
            display: block;
            align-items: center;
            column-gap: 0;
        }
        &__item:last-child {
            margin-bottom: 48px;
        }
    }
}

@media (min-width: 961px) and (max-width:1280px) {
    .container {
        width: 864px;
    }
    .about-company {
        &__how {
            display: block;
            column-gap: 0;
        }
        &__info {
            width: 700px;
        }
        &__info p:last-child {
            padding-bottom: 32px;
        }
        &__item {
            display: flex;
            column-gap: 0;
            width: 550px;
        }
        &__item:last-child {
            margin-bottom: 0;
        }
        &__item h5 {
            font-size: 22px;
            line-height: 28.6px;
            font-weight: 700;
            padding-bottom: 16px;
        }
        &__item p {
            font-size: 16px;
            line-height: 20.8px;
        }
    }
}