@import "./vars";
.agreement {
    .main-title {
        text-align: center;
    }
    margin: 48px 0 100px 0;
    &__container {
        width: 856px;
        margin: 0 auto;
    }
    &__inner p {
        font-size: 16px;
        line-height: 22.4px;
        padding-bottom: 16px;
    }
    &__inner span {
        text-decoration: underline;
    }
    &__main p:first-child {
        padding-top: 40px;
    }
    &__main p:last-child {
        padding-bottom: 24px;
    }
    &__term p:last-child {
        padding-bottom: 48px;
    }
    &__term h4 {
        font-size: 22px;
        line-height: 33px;
        font-weight: 700;
        text-align: center;
        padding-bottom: 24px;
    }
    &__agreement p:first-child {
        padding-top: 32px;
    }
    &__agreement p:last-child {
        padding-bottom: 48px;
    }
    &__site p:first-child {
        padding-top: 32px;
    }
    &__site p:last-child {
        padding-bottom: 0;
    }
}