@import "./vars";


.system {
    margin: 48px 0 100px 0;
    .main-title {
        text-align: center;
        padding-bottom: 48px;
    }
    &__decrip {
        font-size: 18px;
        line-height: 23.4px;
        padding-bottom: 32px;
        max-width: 922px;
        margin: 0 auto;
        text-align: center;
    }
    &__blocks {
        display: flex;
        justify-content: center;
        column-gap: 109px;
    }
    &__block {
        padding: 32px 24px;
        height: 442px;
        width: 306px;
        background-color: $grayBG;
        border-radius: 24px;
        text-align: center;
        &-title {
            font-size: 32px;
            line-height: 41.6px;
            font-weight: 500;
            padding-bottom: 16px;
        }
        &-info {
            font-size: 18px;
            line-height: 23.4px;
            max-width: 258px;
        }
    }
    &__block:first-child {
        padding: 43.5px 24px;
    }
}

@media (max-width: 960px) {
    .container {
        width: 343px;
    }

    .system {
        margin: 25.5px 0 50px 0;
        .main-title {
            font-size: 32px;
            line-height: 41.6px;
            padding-bottom: 32px;
        }
        &__decrip {
            font-size: 16px;
            line-height: 20.8px;
            max-width: 343px;
        }
        &__blocks {
            display: block;
            column-gap: 0;
        }
        &__block {
            height: 419px;
            margin: 0 auto;
            margin-bottom: 24px;
        }
        &__block:last-child {
            margin-bottom: 0;
        }
    }
}