@import "./fonts";

.card{
    font-family: "PT Root UI";
    max-width: 306px;
    &__inner{

    }
    &__name{
        font-size: 16px;
        font-weight: 500;
        line-height: 20.8px;      
        padding-bottom: 10px;
        padding-top: 16px;
    }
    &__img{
        border-radius: 16px;
    }
    &__delivery{
        display: flex;
        align-items: center;
        color: #93949B;
        line-height: 18.2px;
        svg{
            margin-right: 8px;
        }
        padding-bottom: 11px;
    }
    &__price-inner{
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
    &__price{
        font-size: 20px;
        font-weight: 500;
        line-height: 26px;
        color: #1C1C1D;
    }
    &__price-wrap{
        

    }

}

