@font-face {
  font-family: "PT Root UI";
  src: url(./fonts/PT-Root-UI_Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "PT Root UI";
  src: url(./fonts/PT-Root-UI_Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "PT Root UI";
  src: url(./fonts/PT-Root-UI_Bold.ttf);
  font-weight: 700;
}
.corporate .main-title {
  padding-bottom: 48px;
  text-align: center;
}
.corporate__delivery {
  padding: 96px 770px 96px 110px;
  border-radius: 24px;
  background-color: #F5F5F5;
  position: relative;
}
.corporate__delivery-img {
  position: absolute;
  bottom: 0;
  right: 0;
  max-height: 348px;
  border-bottom-right-radius: 24px;
  border-top-right-radius: 24px;
}
.corporate__delivery-title {
  font-size: 32px;
  line-height: 41.6px;
  font-weight: 500;
  padding-bottom: 32px;
}
.corporate__delivery-info {
  font-size: 16px;
  line-height: 20.8px;
  max-width: 416px;
}
.corporate__settlement {
  padding: 60.5px 660px 60.5px 110px;
  border-radius: 24px;
  background-color: #F5F5F5;
  position: relative;
}
.corporate__settlement-title {
  font-size: 32px;
  line-height: 41.6px;
  font-weight: 500;
  max-width: 526px;
  padding-bottom: 32px;
}
.corporate__settlement-text {
  font-size: 16px;
  line-height: 20.8px;
  max-width: 526px;
}
.corporate__settlement-img {
  position: absolute;
  top: 0;
  right: 0;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}
.corporate__how {
  display: flex;
  justify-content: space-between;
  margin: 96px 0 105px 0;
}
.corporate__how-title {
  font-size: 32px;
  line-height: 41.6px;
  font-weight: 500;
  max-width: 303px;
  padding-top: 21px;
}
.corporate__how-list {
  font-size: 16px;
  line-height: 20.8px;
  max-width: 636px;
}
.corporate__stylish {
  position: relative;
  padding: 131.5px 387px;
  background-color: #F5F5F5;
  border-radius: 24px;
  text-align: center;
}
.corporate__stylish-title {
  font-size: 32px;
  line-height: 41.6px;
  font-weight: 500;
  padding-bottom: 32px;
}
.corporate__stylish-text {
  font-size: 16px;
  line-height: 20.8px;
}
.corporate__stylish-img {
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
}
.corporate__contact {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.corporate__contact-block {
  padding: 32px 24px;
  border: 1px solid #DADADA;
  border-radius: 16px;
  width: 306px;
  margin-bottom: 24px;
}
.corporate__contact-block:first-child {
  width: 636px;
}
.corporate__contact-block:nth-child(4) {
  width: 636px;
  margin-bottom: 0;
}
.corporate__contact-block:nth-child(4) .corporate__contact-text {
  max-width: 368px;
  line-height: 26.8px;
}
.corporate__contact-block:last-child {
  width: 636px;
  height: 312.48px;
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
  margin-bottom: 0;
}
.corporate__contact-block:last-child .corporate__contact-text {
  font-size: 12px;
  line-height: 15.6px;
  max-width: 272px;
  padding-bottom: 20.74px;
}
.corporate__contact-title {
  font-size: 22px;
  line-height: 28.6px;
  font-weight: 500;
  padding-bottom: 24px;
}
.corporate__contact-flex {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
}
.corporate__contact-flex:last-child {
  padding-bottom: 24px;
}
.corporate__contact-text {
  font-size: 16px;
  line-height: 20.8px;
  max-width: 258px;
}
.corporate__contact-text span {
  font-weight: 500;
}
.corporate__contact-hours {
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 500;
  padding-bottom: 8px;
}
.corporate__contact-email {
  font-size: 22px;
  line-height: 28.6px;
  font-weight: 700;
  padding-top: 84px;
}
.corporate__contact-img {
  width: 282px;
  height: 248.48px;
}
.corporate__contact .main-btn {
  max-width: 196px;
  white-space: nowrap;
}/*# sourceMappingURL=corporate.css.map */