@import "./vars";
@import "./fonts";

.corporate {
    .corporate-title {
        font-size: 32px;
        line-height: 41.6px;
        font-weight: 500;
        max-width: 416px;
        padding-bottom: 32px;
    }
    .main-title {
        padding-bottom: 48px;
        text-align: center;
    }
    &__delivery {
        padding: 96px 770px 96px 110px;
        border-radius: 24px;
        background-color: $grayBG;
        position: relative;
        &-img {
            position: absolute;
            bottom: 0;
            right: 0;
            max-height: 348px;
            border-bottom-right-radius: 24px;
            border-top-right-radius: 24px;
        }
        &-info {
            font-size: 16px;
            line-height: 20.8px;
            max-width: 416px;
        }
        &-adapt {
            display: none;
        }
    }
    &__discount {
        display: flex;
        justify-content: space-between;
        padding: 96px 0;
        &-procent {
            li {
                padding-bottom: 8px;
                list-style-type: disc;
            }
        }
        &-attention {
            font-weight: 500;
            padding: 14px 0 24px 0;
        }
        &-list {
            max-width: 621px;
            font-size: 16px;
            line-height: 20.8px
        }
        &-item {
            padding-bottom: 24px;
            list-style-type: decimal;
        }
        &-item:last-child {
            padding-bottom: 0;
        }
    }
    &__settlement {
        height: 400px;
        padding: 60.5px 660px 60.5px 110px;
        border-radius: 24px;
        background-color: $grayBG;
        position: relative;
        &-text {
            font-size: 16px;
            line-height: 20.8px;
            max-width: 526px;
        }
        &-img {
            position: absolute;
            top: 0;
            right: 0;
            border-top-right-radius: 24px;
            border-bottom-right-radius: 24px;
        }
        &-adapt {
            display: none;
        }
    }
    &__how {
        display: flex;
        justify-content: space-between;
        margin: 96px 0 105px 0;
        .corporate-title {
            max-width: 370px;
        }
        &-list {
            font-size: 16px;
            line-height: 20.8px;
            max-width: 636px;
        }
    }
    &__stylish {
        .corporate-title {
            margin: 0 auto;
        }
        position: relative;
        padding: 131.5px 387px;
        background-color: $grayBG;
        border-radius: 24px;
        text-align: center;
        margin-bottom: 96px;
        &-text {
            font-size: 16px;
            line-height: 20.8px;
        }
        &-img {
            position: absolute;
            bottom: 0;
            left: 0;
            border-bottom-right-radius: 24px;
            border-bottom-left-radius: 24px;
        }
        &-adapt {
            display: none;
        }
    }
    &__contact {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        &-block {
            padding: 32px 24px;
            border: 1px solid #DADADA;
            border-radius: 16px;
            width: 306px;
            margin-bottom: 24px;
        }
        &-block:first-child {
            width: 636px;
        }
        &-block:nth-child(4) {
            width: 636px;
            margin-bottom: 0;
            .corporate__contact-text {
                max-width: 368px;
                line-height: 26.8px;
            }
        }
        &-block:last-child {
            width: 636px;
            height: 312.48px;
            display: flex;
            column-gap: 24px;
            margin-bottom: 0;
            .corporate__contact-text {
                font-size: 12px;
                line-height: 15.6px;
                max-width: 272px;
                padding-bottom: 20.74px;
            }
        }
        &-title {
            font-size: 22px;
            line-height: 28.6px;
            font-weight: 500;
            padding-bottom: 24px;
        }
        &-flex {
            display: flex;
            justify-content: space-between;
            padding-bottom: 8px;
        }
        &-flex:last-child {
            padding-bottom: 24px;
        }
        &-text {
            font-size: 16px;
            line-height: 20.8px;
            max-width: 258px;
        }
        &-text span {
            font-weight: 500;
        }
        &-hours {
            font-size: 18px;
            line-height: 23.4px;
            font-weight: 500;
            padding-bottom: 8px;
        }
        &-email {
            font-size: 22px;
            line-height: 28.6px;
            font-weight: 700;
            padding-top: 84px;
        }
        &-img {
            width: 282px;
            height: 248.48px;
        }
        .main-btn {
            max-width: 196px;
            white-space: nowrap;
        }
    }
}

@media (max-width: 1280px) {
    .container {
        width: 343px;
    }

    .corporate {
        .corporate-title {
            font-size: 22px;
            line-height: 28.6px;
            font-weight: 500;
        }
        .main-title {
            padding-bottom: 24px;
            font-size: 41.6px;
            line-height: 41.6px;
        }
        &__delivery {
            width: 343px;
            height: 519px;
            padding: 30px 24px 323px 24px;
            &-img {
                display: none;
            }
            &-info {
                max-width: 295px;
            }
            &-adapt {
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                border-bottom-right-radius: 24px;
                border-bottom-left-radius: 24px;
            }
        }
        &__discount {
            display: block;
            padding: 48px 0 78px 0;
            &-attention {
                padding: 14px 0 18px 0;
            }
            &-list {
                max-width: 343px;
                padding-left: 18px;
            }
            &-item {
                padding-bottom: 18px;
            }
        }
        &__settlement {
            width: 343px;
            height: 656px;
            padding: 30px 24px 226px 24px;
            &-text {
                max-width: 295px;
            }
            &-img {
                display: none;
            }
            &-adapt {
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                border-bottom-right-radius: 24px;
                border-bottom-left-radius: 24px;
            }
        }
        &__how {
            display: block;
            margin: 48px 0;
            .corporate-title {
                max-width: 343px;
            }
            &-list {
                max-width: 343px;
            }
        }
        &__stylish {
            width: 343px;
            height: 472px;
            padding: 30px 24px 276px 24px;
            &-img {
                display: none;
            }
            &-adapt {
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                border-bottom-right-radius: 24px;
                border-bottom-left-radius: 24px;
            }
        }
        &__contact {
            column-gap: 0;
            &-block {
                padding: 24px;
                width: 343px;
            }
            &-block:first-child {
                width: 343px;
            }
            &-block:nth-child(4) {
                width: 343px;
                margin-bottom: 24px;
                .corporate__contact-text {
                    max-width: 295px;
                    line-height: 20.8px;
                }
            }
            &-block:last-child {
                width: 343px;
                height: 291px;
                display: block;
                column-gap: 0;
                .corporate__contact-text {
                    max-width: 282px;
                    padding-bottom: 18px;
                }
            }
            &-title {
                padding-bottom: 18px;
            }
            &-flex {
                display: block;
            }
            &-flex:last-child {
                padding-bottom: 0;
            }
            &-text {
                max-width: 295px;
            }
            &-email {
                padding-top: 18px;
            }
            &-img {
                display: none;
            }
        }
    }
}