@import "./vars";

.header {
    .connect-descrip {
        font-size: 13px;
        line-height: 16.9px;
    }

    .connect-title {
        margin-right: 3px;
        font-size: 20px;
        line-height: 26px;
        font-weight: 700;
        white-space: nowrap;
    }

    .connect-bottom {
        display: flex;
        align-items: center;
        padding-bottom: 3px;
        border-bottom: 1px dashed #DFE2E8;
    }

    .main-btn {
        padding: 13px 16px;
        column-gap: 8px;
        margin: 0 16px 0 78.8px;
        white-space: nowrap;
        display: flex;
        align-items: center;
    }

    position: relative;
    margin-bottom: 48px;

    &__imgs img {
        position: absolute;
        top: 0;
    }

    &__imgs img:first-child {
        left: 0;
    }

    &__imgs img:nth-child(2) {
        left: 0;
    }

    &__imgs img:nth-child(3) {
        right: 0;
    }

    &__imgs img:nth-child(4) {
        right: 0;
        z-index: -1;
    }

    &__imgs img:nth-child(5) {
        top: 166px;
        right: 0;
    }

    &__imgs img:nth-child(6) {
        left: 18%;
    }

    &__imgs img:nth-child(7) {
        left: 25%;
    }

    &__imgs img:nth-child(8) {
        left: 30%;
    }

    &__imgs img:nth-child(9) {
        left: 38%;
    }

    &__imgs img:nth-child(10) {
        left: 44%;
    }

    &__imgs img:nth-child(11) {
        left: 52%;
    }

    &__imgs img:nth-child(12) {
        left: 53%;
    }

    &__imgs img:nth-child(13) {
        left: 62%;
    }

    &__imgs img:nth-child(14) {
        left: 69%;
    }

    &__imgs img:nth-child(15) {
        left: 73%;
    }

    &__bottom {
        display: flex;
        align-items: center;
        padding: 24px 0;
    }

    &__field {
        column-gap: 8px;
        display: flex;
        align-items: center;
        width: 422px;
        height: 50px;
        border: 1px solid #DFE2E8;
        border-radius: 12px;
        padding-left: 16px;
        margin-right: 44.5px;
    }

    &__whatsapp {
        padding: 5px;
        border-radius: 50%;
        background-color: #29A71A;
        margin-right: 5px;
    }

    &__telegram {
        padding: 5.97px 5.33px;
        border-radius: 50%;
        background-color: #23B7EC;
        margin-right: 5px;
    }

    &__like {
        padding: 13px;
        border: 1px solid #E5E7EB;
        border-radius: 12px;
        margin: 0 16px 0 44.5px;
    }

    &__cart {
        padding: 9px;
        border: 1px solid #E5E7EB;
        border-radius: 12px;
        margin-right: 16px;
    }

    &__account {
        display: flex;
        align-items: center;
        column-gap: 8px;
        border: 1px solid #E5E7EB;
        padding: 9px 8.5px;
        border-radius: 12px;

        &-hrs hr {
            height: 2px;
            background-color: #1C1C1D;
        }

        &-hrs hr:first-child {
            width: 16.5px;
            margin-bottom: 3.63px;
        }

        &-hrs hr:nth-child(2) {
            width: 16.5px;
            margin-bottom: 3.63px;
        }

        &-hrs hr:last-child {
            width: 9px;
            margin-bottom: 3.63px;
        }
    }

    &__account img {
        padding: 6px;
        border-radius: 50%;
        background-color: #03A050;
    }

    &__hrs hr {
        width: 100%;
        height: 1px;
        background-color: #E5E7EB;
    }

    &__hrs hr:first-child {
        position: absolute;
        top: 68px;
    }

    &__hrs hr:last-child {
        position: absolute;
        bottom: 0;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 32px 0 12px 0;
    }

    &__local {
        display: flex;
        column-gap: 8px;
        font-size: 16px;
        line-height: 20.8px;
        font-weight: 500;
    }

    &__hours {
        display: flex;
        column-gap: 8px;
        white-space: nowrap;
        color: $pink;
        font-size: 16px;
        line-height: 20.8px;
        font-weight: 500;
    }

    &__list {
        display: flex;
        column-gap: 24px;
        font-size: 14px;
        line-height: 18.2px;
    }

    &__item a {
        color: $blackText;
    }

    &__left {
        display: flex;
        column-gap: 65px;
    }
}

.catalog-list {
    
    &__inner{
        
       
    }
    &__column {
        display: flex;
        
    }

    &__category {
        padding-top: 48px;
        padding-right: 46px;
        border-right: 1px solid #ECEFF1;
        &-item {
            font-size: 18px;
            font-weight: 500;
            line-height: 21.6px;
            padding-bottom: 24px;
        }
    }
    &__filter{
        padding-top: 36px;
        padding-left: 10.5px;
        &-item{
            font-size: 18px;
            font-weight: 500;
            line-height: 21.6px;
            padding: 12px;
            padding-left: 17px;
            width: 215px;

        }
        &-item:hover{
            border-radius: 12px 0px 0px 12px;
            background: #F5F5F5;
            background-image: url(../assets/icon/arrow-right.svg);
            background-repeat: no-repeat;
            background-position-x: 163px;
            background-position-y: center;
           
            
        }
        
    }

}

.choice{
    display: flex;
    justify-content: space-between;
    &__inner{
        padding-top: 69px;
        padding-left: 32px;
        background: #F5F5F5;
        margin-top: 3px;
        padding: 0 49px;
        padding-top: 68px;
        a{
            
        }
    }
    &__flex-item{
        font-size: 18px;
        line-height: 21.6px;
        max-width: 196px;
        width: 100%;
        padding-bottom: 24px;
        
    }
}

.city-delivery {
    &__inner {
        padding: 20px 20px 32px 32px;
        border-radius: 16px;
        box-shadow: 0px 8px 22px 0px #2626261A;
        width: 856px;
        height: 641.56px;
    }
    &__title {
        font-size: 32px;
        line-height: 41.6px;
        font-weight: 500;
        padding-bottom: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title img {
        padding: 5px;
        border-radius: 50%;
        background-color: $grayBG;
    }
    &__field {
        position: relative;
        padding-bottom: 32px;
        &-input {
            padding-left: 56px;
            font-size: 16px;
            line-height: 20.8px;
            border: 1px solid #E5E7EB;
            border-radius: 12px;
            height: 50px;
            width: 100%;
        }
        &-input::placeholder {
            color: $grayText;
        }
    }
    &__field img {
        position: absolute;
        top: 13px;
        left: 24px;
    }
    &__columns {
        display: flex;
        column-gap: 49.33px;
        padding-bottom: 32px;
    }
    &__column {
        width: 161px;
    }
    &__category {
        &-item {
            font-size: 16px;
            line-height: 20.8px;
            padding-bottom: 16px;
        }
        &-item:last-child {
            padding-bottom: 0;
        }
    }
    .white-btn {
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding-left: 24px;
        column-gap: 8px;
        width: 200px;
        height: 50px;
    }
}
.white-btn {
    font-size: 16px;
    line-height: 20.8px;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
}