@import "./vars";

.order-number {
    .reviews__block-img {
        img {
            width: 196px;
            height: 196px;
        }
    }
    .reviews__block-imgs {
        column-gap: 24px;
    }
    .reviews__block {
        padding: 0;
        padding-top: 18px;
    }
    .reviews__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 18px;
    }
    .btn-gray {
        font-size: 14px;
        line-height: 18.2px;
        padding: 11px 16px;
        width: 169px;
        height: 40px;
        white-space: nowrap;
    }
    .btn-green {
        width: 170px;
        height: 50px;
        white-space: nowrap;
        margin-bottom: 48px;
    }
    .main-btn {
        width: 177px;
        white-space: nowrap;
    }
    &__inner {
        display: flex;
        column-gap: 134px;
    }
    &__title {
        display: flex;
        align-items: center;
        column-gap: 12px;
        padding-bottom: 16px;
        &-text {
            font-size: 32px;
            line-height: 38.4px;
            font-weight: 500;
        }
        &-status {
            font-size: 14px;
            line-height: 18.2px;
            font-weight: 500;
            padding: 4px 8px;
            height: 26px;
            background-color: #FFC739;
            border-radius: 6px;
            &--ready {
                color: #fff;
                background-color: #03A050;
            }
        }
    }
    &__structure {
        padding: 32px 24px;
        background-color: $grayBG;
        border-radius: 24px;
        height: 352.91px;
        width: 306px;
        &-title {
            font-size: 18px;
            line-height: 23.4px;
            font-weight: 700;
            padding-bottom: 24px;
        }
        &-product {
            display: flex;
            justify-content: space-between;
            column-gap: 16px;
            font-size: 14px;
            line-height: 18.2px;
            padding-bottom: 16.91px;
            border-bottom: 1px solid #E5E7EB;
            margin-bottom: 16px;
            img {
                width: 50px;
                height: 50px;
                border-radius: 12px;
            }
            div {
                width: 192px;
            }
        }
        &-flex {
            display: flex;
            justify-content: space-between;
        }
        &-name {
            font-size: 14px;
            line-height: 18.2px;
            font-weight: 500;
            padding-bottom: 8px;
        }
        &-block {
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            line-height: 18.2px;
            padding-bottom: 10px;
            span {
                font-weight: 500;
            }
        }
        &-result {
            display: flex;
            justify-content: space-between;
            padding-top: 14.5px;
            font-size: 18px;
            line-height: 23.4px;
            font-weight: 700;
        }
        &-plus {
            color: #03A050;
        }
    }
    &__confirm {
        .order-number__pretitle {
            padding-bottom: 16px;
        }
        &--ready {
            height: 87px;
        }
        width: 416px;
        height: 281px;
        padding: 24px;
        background-color: $grayBG;
        border-radius: 24px;
        margin: 24px 0 48px 0;
        &-descrip {
            font-size: 14px;
            line-height: 18.2px;
            padding-bottom: 24px;
            max-width: 320px;
            span {
                font-weight: 700;
            }
        }
        &-number {
            display: flex;
            justify-content: space-between;
            padding-top: 8px;
            font-size: 22px;
            line-height: 28.6px;
            font-weight: 500;
        }
        &-title {
            font-size: 14px;
            line-height: 18.2px;
            color: $grayText;
        }
        &--ready {
            padding: 16px 24px;
        }
    }
    &__delivery {
        .order-number__pretitle {
            padding-bottom: 26px;
        }
        &-item {
            display: flex;
            column-gap: 4px;
            font-size: 16px;
            line-height: 20.8px;
            padding-bottom: 8px;
            p {
                color: $grayText;
                width: 140px;
            }
        }
        &-item:last-child {
            padding-bottom: 0;
        }
    }
    &__card {
        .order-number__pretitle {
            padding-bottom: 18px;
        }
        padding: 48px 0;
        &-item {
            font-size: 16px;
            line-height: 20.8px;
            width: 416px;
            height: 53px;
            background-color: $grayBG;
            border-radius: 12px;
            padding: 16px 24px;
        }
    }
    &__edit {
        .order-number__pretitle {
            padding-bottom: 18px;
        }
        &-title {
            font-size: 18px;
            line-height: 23.4px;
            font-weight: 700;
            padding-bottom: 18px;
        }
        &-descrip {
            font-size: 14px;
            line-height: 18.2px;
            padding-bottom: 18px;
        }
    }
    &__btns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-cancel {
            font-size: 16px;
            line-height: 20.8px;
            color: $grayText;
            border-bottom: 1px dashed $grayText;
        }
    }
    &__info {
        width: 416px;
    }
    &__pretitle {
        font-size: 18px;
        line-height: 23.4px;
        font-weight: 700;
    }
    &__before {
        padding-bottom: 48px;
        img {
            border-radius: 8px;
            width: 196px;
            height: 196px;
            object-fit: cover;
            margin-top: 18px;
        }
    }
    &__pay {
        padding-top: 48px;
        &-info {
            font-size: 14px;
            line-height: 18.2px;
            padding-top: 18px;
        }
    }
}

.my-data {
    &__inner {
        display: flex;
        column-gap: 134px;
    }
    &__person {
        padding: 32px 24px 40px 24px;
        border: 1px solid #E5E7EB;
        border-radius: 24px;
        height: 455px;
        width: 306px;
        &-name {
            font-size: 22px;
            line-height: 28.6px;
            font-weight: 500;
            padding-bottom: 5px;
        }
        &-tel {
            font-size: 14px;
            line-height: 18.2px;
            padding-bottom: 16px;
        }
        &-points {
            padding: 20px 147px 20px 20px;
            background-color: $pink;
            border-radius: 16px;
            color: #fff;
            position: relative;
            width: 258px;
            height: 90px;
            margin-bottom: 40px;
            div {
                display: flex;
                column-gap: 8px;
                padding-bottom: 1px;
            }
            img {
                position: absolute;
                bottom: 0;
                left: 0;
                mix-blend-mode: multiply;
                border-radius: 16px;
            }
            svg {
                position: relative;
                z-index: 1;
            }
        }
        &-number {
            font-size: 32px;
            line-height: 32px;
            font-weight: 500;
        }
        &-account {
            font-size: 14px;
            line-height: 18.2px;
            text-decoration: underline;
            white-space: nowrap;
            position: relative;
            z-index: 1;
        }
        &-item {
            display: flex;
            column-gap: 16px;
            font-size: 16px;
            line-height: 20.8px;
            padding-bottom: 16px;
            cursor: pointer;
            a {
                color: #000;
            }
        }
        &-item:hover {
            a {
                color: $pink;
            }
            svg {
                fill: $pink;
                stroke: $pink;
            }
        }
    }
    &__info {
        .btn-gray {
            width: 416px;
            height: 50px;
            margin-top: 24px;
        }
        .main-title {
            padding-bottom: 32px;
        }
        width: 416px;
        &-tel {
            padding: 16px 24px;
            background-color: $grayBG;
            border-radius: 16px;
            width: 416px;
            height: 87px;
            margin-bottom: 24px;
            div {
                display: flex;
                justify-content: space-between;
            }
            p {
                font-size: 22px;
                line-height: 28.6px;
                font-weight: 500;
            }
            h6 {
                font-size: 14px;
                line-height: 18.2px;
                padding-bottom: 8px;
                color: $grayText;
            }
        }
        &-notnecessarily {
            font-size: 14px;
            line-height: 18.2px;
            color: $grayText;
            padding-bottom: 48px;
        }
    }
    &__field {
        padding-bottom: 24px;
        &-div {
            position: relative;
        }
        &-input {
            padding: 10px;
            padding-left: 24px;
            width: 368px;
            height: 50px;
            box-sizing: border-box;
            outline: none;
            border: 1px solid $grayText;
            border-radius: 12px;
        }
        &-label {
            position: absolute;
            top: 14px;
            left: 24px;
            font-size: 16px;
            line-height: 20.8px;
            color: $grayText;
            transition: 0.3s;
            pointer-events: none;
        }
        &-input:focus + &-label {
            top: 5px;
            font-size: 12px;
            line-height: 15.6px;
        }
    }
    &__field:last-child {
        padding-bottom: 8px;
    }
    &__password {
        &-title {
            font-size: 18px;
            line-height: 23.4px;
            font-weight: 700;
            padding-bottom: 18px;
        }
        &-input {
            width: 416px;
            height: 50px;
            padding-left: 24px;
            border: 1px solid $grayText;
            border-radius: 12px;
            font-size: 16px;
            line-height: 20.8px;
            margin-bottom: 24px;
        }
        &-input::placeholder {
            color: $grayText;
        }
    }
}


// @media (min-width: 768px) and (max-width: 1280px) {}

@media (max-width: 767px) {
    .container {
        width: 375px;
    }

    .order-number {
        .reviews__block-img {
            img {
                width: 196px;
                height: 196px;
            }
        }
        .reviews__block-imgs {
            column-gap: 24px;
        }
        .reviews__block {
            padding: 0;
            padding-top: 18px;
        }
        .reviews__bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 18px;
        }
        .btn-gray {
            font-size: 14px;
            line-height: 18.2px;
            padding: 11px 16px;
            width: 169px;
            height: 40px;
            white-space: nowrap;
        }
        .btn-green {
            width: 170px;
            height: 50px;
            white-space: nowrap;
            margin-bottom: 48px;
        }
        .main-btn {
            width: 327px;
            padding: 14.5px 99px;
        }
        &__inner {
            display: block;
            column-gap: 0;
        }
        &__title {
            &-text {
                font-size: 22px;
                line-height: 26.4px;
            }
        }
        &__structure {
            padding: 32px 24px;
            background-color: $grayBG;
            border-radius: 24px;
            height: 352.91px;
            width: 306px;
            &-title {
                font-size: 18px;
                line-height: 23.4px;
                font-weight: 700;
                padding-bottom: 24px;
            }
            &-product {
                display: flex;
                justify-content: space-between;
                column-gap: 16px;
                font-size: 14px;
                line-height: 18.2px;
                padding-bottom: 16.91px;
                border-bottom: 1px solid #E5E7EB;
                margin-bottom: 16px;
                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 12px;
                }
                div {
                    width: 192px;
                }
            }
            &-flex {
                display: flex;
                justify-content: space-between;
            }
            &-name {
                font-size: 14px;
                line-height: 18.2px;
                font-weight: 500;
                padding-bottom: 8px;
            }
            &-block {
                display: flex;
                justify-content: space-between;
                font-size: 14px;
                line-height: 18.2px;
                padding-bottom: 10px;
                span {
                    font-weight: 500;
                }
            }
            &-result {
                display: flex;
                justify-content: space-between;
                padding-top: 14.5px;
                font-size: 18px;
                line-height: 23.4px;
                font-weight: 700;
            }
            &-plus {
                color: #03A050;
            }
        }
        &__confirm {
            &--ready {
                height: 87px;
            }
            width: 327px;
            height: 299px;
            margin: 48px 0;
            &-descrip {
                max-width: 279px;
            }
            &-number {
                display: flex;
                justify-content: space-between;
                padding-top: 8px;
                font-size: 22px;
                line-height: 28.6px;
                font-weight: 500;
            }
            &-title {
                font-size: 14px;
                line-height: 18.2px;
                color: $grayText;
            }
            &--ready {
                padding: 16px 24px;
            }
        }
        &__delivery {
            .order-number__pretitle {
                padding-bottom: 26px;
            }
            &-item {
                display: flex;
                column-gap: 4px;
                font-size: 16px;
                line-height: 20.8px;
                padding-bottom: 8px;
                p {
                    color: $grayText;
                    width: 140px;
                }
            }
            &-item:last-child {
                padding-bottom: 0;
            }
        }
        &__card {
            .order-number__pretitle {
                padding-bottom: 18px;
            }
            padding: 48px 0;
            &-item {
                font-size: 16px;
                line-height: 20.8px;
                width: 416px;
                height: 53px;
                background-color: $grayBG;
                border-radius: 12px;
                padding: 16px 24px;
            }
        }
        &__edit {
            .order-number__pretitle {
                padding-bottom: 18px;
            }
            &-title {
                font-size: 18px;
                line-height: 23.4px;
                font-weight: 700;
                padding-bottom: 18px;
            }
            &-descrip {
                font-size: 14px;
                line-height: 18.2px;
                padding-bottom: 18px;
            }
        }
        &__btns {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &-cancel {
                font-size: 16px;
                line-height: 20.8px;
                color: $grayText;
                border-bottom: 1px dashed $grayText;
            }
        }
        &__info {
            width: 416px;
        }
        &__pretitle {
            font-size: 18px;
            line-height: 23.4px;
            font-weight: 700;
        }
        &__before {
            padding-bottom: 48px;
            img {
                border-radius: 8px;
                width: 196px;
                height: 196px;
                object-fit: cover;
                margin-top: 18px;
            }
        }
        &__pay {
            padding-top: 48px;
            &-info {
                font-size: 14px;
                line-height: 18.2px;
                padding-top: 18px;
            }
        }
    }
    
    .my-data {
        &__inner {
            display: block;
            column-gap: 0;
        }
        &__person {
            display: none;
        }
        &__info {
            .btn-gray {
                width: 416px;
                height: 50px;
                margin-top: 24px;
            }
            .main-title {
                padding-bottom: 32px;
            }
            width: 416px;
            &-tel {
                padding: 16px 24px;
                background-color: $grayBG;
                border-radius: 16px;
                width: 416px;
                height: 87px;
                margin-bottom: 24px;
                div {
                    display: flex;
                    justify-content: space-between;
                }
                p {
                    font-size: 22px;
                    line-height: 28.6px;
                    font-weight: 500;
                }
                h6 {
                    font-size: 14px;
                    line-height: 18.2px;
                    padding-bottom: 8px;
                    color: $grayText;
                }
            }
            &-notnecessarily {
                font-size: 14px;
                line-height: 18.2px;
                color: $grayText;
                padding-bottom: 48px;
            }
        }
        &__field {
            padding-bottom: 24px;
            &-div {
                position: relative;
            }
            &-input {
                padding: 10px;
                padding-left: 24px;
                width: 368px;
                height: 50px;
                box-sizing: border-box;
                outline: none;
                border: 1px solid $grayText;
                border-radius: 12px;
            }
            &-label {
                position: absolute;
                top: 14px;
                left: 24px;
                font-size: 16px;
                line-height: 20.8px;
                color: $grayText;
                transition: 0.3s;
                pointer-events: none;
            }
            &-input:focus + &-label {
                top: 5px;
                font-size: 12px;
                line-height: 15.6px;
            }
        }
        &__field:last-child {
            padding-bottom: 8px;
        }
        &__password {
            &-title {
                font-size: 18px;
                line-height: 23.4px;
                font-weight: 700;
                padding-bottom: 18px;
            }
            &-input {
                width: 416px;
                height: 50px;
                padding-left: 24px;
                border: 1px solid $grayText;
                border-radius: 12px;
                font-size: 16px;
                line-height: 20.8px;
                margin-bottom: 24px;
            }
            &-input::placeholder {
                color: $grayText;
            }
        }
    }
}