.input-inner {
  position: relative;
}
.input-inner svg {
  position: absolute;
  top: 16px;
  right: 26px;
}

.calendar-svg {
  top: 10px !important;
  right: 18px !important;
}

.recipient .main-btn {
  width: 306px;
  height: 65px;
  text-align: center;
}
.recipient__inner {
  display: flex;
  -moz-column-gap: 244px;
       column-gap: 244px;
  justify-content: space-between;
}
.recipient__person {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
  padding-bottom: 24px;
}
.recipient__person input {
  width: 306px;
  height: 50px;
  border: 1px solid #93949B;
  border-radius: 12px;
  padding-left: 24px;
  font-size: 16px;
  line-height: 20.8px;
}
.recipient__person input::-moz-placeholder {
  color: #93949B;
}
.recipient__person input::placeholder {
  color: #93949B;
}
.recipient__cards {
  padding-bottom: 48px;
}
.recipient__cards textarea {
  width: 636px;
  height: 94px;
  padding: 0 24px;
  font-size: 16px;
  line-height: 20.8px;
  border: 1px solid #93949B;
  border-radius: 12px;
  padding-top: 16px;
  outline: none;
}
.recipient__cards textarea::-moz-placeholder {
  color: #93949B;
}
.recipient__cards textarea::placeholder {
  color: #93949B;
}
.recipient__cards-counter {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
  padding-bottom: 16px;
}
.recipient__cards-text {
  font-size: 16px;
  line-height: 20.8px;
  color: #93949B;
  padding-right: 11px;
}
.recipient__cards-counter button {
  padding: 11px;
  background-color: #F5F5F5;
  border-radius: 10px;
  width: 40px;
}
.recipient__cards-count {
  padding: 9.5px 17px;
}
.recipient__email {
  padding-bottom: 48px;
}
.recipient__email p {
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 700;
  padding-bottom: 18px;
}
.recipient__email input {
  width: 306px;
  height: 50px;
  border-radius: 12px;
  border: 1px solid #93949B;
  font-size: 16px;
  line-height: 20.8px;
  padding-left: 24px;
}
.recipient__email::-moz-placeholder {
  color: #93949B;
}
.recipient__email::placeholder {
  color: #93949B;
}
.recipient__special {
  padding-bottom: 42px;
}
.recipient__special p {
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 700;
  padding-bottom: 18px;
}
.recipient__special textarea {
  width: 636px;
  height: 94px;
  padding-left: 24px;
  border: 1px solid #93949B;
  border-radius: 12px;
  font-size: 16px;
  line-height: 20.8px;
  padding-top: 16px;
  outline: none;
}
.recipient__special textarea::-moz-placeholder {
  color: #93949B;
}
.recipient__special textarea::placeholder {
  color: #93949B;
}
.recipient__check {
  padding-bottom: 16px;
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.recipient__check-agree {
  padding: 24px 0 0 0 !important;
}
.recipient__check img {
  margin-left: 6px;
}
.recipient__check input {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 8px;
  background-color: #AD2950;
  display: flex;
  align-items: center;
  justify-content: center;
}
.recipient__check label {
  font-size: 16px;
  line-height: 20.8px;
}
.recipient__check label span {
  font-weight: 700;
}
.recipient__check input:after {
  content: url(./../assets/icon/check.svg);
  display: none;
}
.recipient__check input:checked:after {
  display: block;
}
.recipient__check:last-child {
  padding-bottom: 24px;
}/*# sourceMappingURL=recipient.css.map */