@import "./vars";
.input-inner{
    position: relative;
    svg{
        position: absolute;
        top: 16px;
        right: 26px;
    }
}
.calendar-svg{
    top: 10px !important;
    right: 18px !important;
}
.recipient {
    .make-order__info-promo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
        p {
            border-bottom: 1px dashed $grayText;
        }
    }
    .main-btn {
        font-size: 18px;
        line-height: 22.68px;
        padding: 20.5px 35px;
        width: 306px;
        height: 65px;
        text-align: center;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__person {
        display: flex;
        column-gap: 24px;
        padding-bottom: 24px;
    }
    &__person input {
        width: 306px;
        height: 50px;
        border: 1px solid $grayText;
        border-radius: 12px;
        padding-left: 24px;
        font-size: 16px;
        line-height: 20.8px;
    }
    &__person input::placeholder {
        color: $grayText;
    }
    &__cards {
        padding-bottom: 48px;
        textarea {
            width: 636px;
            height: 94px;
            padding: 0 24px;
            font-size: 16px;
            line-height: 20.8px;
            border: 1px solid $grayText;
            border-radius: 12px;
            padding-top: 16px;
            outline: none;
        }
        textarea::placeholder {
            color: $grayText;
        }
        &-counter {
            display: flex;
            column-gap: 5px;
            padding-bottom: 16px;
        }
        &-text {
            font-size: 16px;
            line-height: 20.8px;
            color: $grayText;
            padding-right: 11px;
        }
        &-counter button {
            padding: 11px;
            background-color: $grayBG;
            border-radius: 10px;
            width: 40px;
        }
        &-count {
            padding: 9.5px 17px;
        }
    }
    &__email {
        padding-bottom: 48px;
        p {
            font-size: 18px;
            line-height: 23.4px;
            font-weight: 700;
            padding-bottom: 18px;
        }
        input {
            width: 306px;
            height: 50px;
            border-radius: 12px;
            border: 1px solid $grayText;
            font-size: 16px;
            line-height: 20.8px;
            padding-left: 24px;
        }
    }
    &__email::placeholder {
        color: $grayText;
    }
    &__special {
        padding-bottom: 42px;
        p {
            font-size: 18px;
            line-height: 23.4px;
            font-weight: 700;
            padding-bottom: 18px;
        }
        textarea {
            width: 636px;
            height: 94px;
            padding-left: 24px;
            border: 1px solid $grayText;
            border-radius: 12px;
            font-size: 16px;
            line-height: 20.8px;
            padding-top: 16px;
            outline: none;
        }
    }
    &__special textarea::placeholder {
        color: $grayText;
    }
    &__check {
        display: flex;
        column-gap: 12px;
        margin-bottom: 24px;
        &-agree {
            padding: 24px 0 0 0 !important;
        }
        img {
            margin-left: 6px;
        }
        input {
            appearance: none;
            -webkit-appearance: none;
            height: 24px;
            min-width: 24px;
            border-radius: 8px;
            background-color: $pink;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        label {
            font-size: 16px;
            line-height: 20.8pxpx;
            span {
                font-weight: 700;
            }
        }
    }
    &__check input:after {
        content: url(./../assets/icon/check.svg);
        display: none;
    }
    &__check input:checked:after {
        display: block;
    }
    &__check:last-child {
        padding-bottom: 0;
    }
}


@media (max-width: 1285px) {
    .container {
        width: 327px;
    }
    .make-order__info {
        display: none;
    }
    .btn-gray {
        width: 155.5px;
        height: 50px;
        font-size: 14px;
        line-height: 18.2px;
        padding: 7.5px 32px;
    }
    svg{
        top: 16px;
        right: 26px;
    }
    .calendar-svg{
        top: 10px !important;
        right: 18px !important;
    }
    .recipient {
        .main-btn {
            width: 327px;
        }
        &__inner {
            display: block;
        }
        &__person {
            display: block;
            column-gap: 0;
            padding-bottom: 0;
        }
        &__person input {
            width: 327px;
            margin-bottom: 24px;
        }
        &__cards {
            textarea {
                width: 327px;
                height: 116px;
            }
            &-counter button {
                width: 40px;
            }
        }
        &__email {
            input {
                width: 327px;
            }
        }
        &__special {
            padding-bottom: 48px;
            textarea {
                width: 327px;
            }
        }
        &__check {
            label {
                width: 214px;
            }
        }
    }
}